---
import { MeetWindow } from '../../components/meet/MeetWindow';
import HeadMeta from '../../components/HeadMeta.astro';

const freeHoursByWeekday = {
  0: { from: 8, until: 22 },
  1: { from: 8, until: 22 },
  2: { from: 8, until: 22 },
  3: { from: 8, until: 22 },
  4: { from: 8, until: 22 },
  5: { from: 8, until: 22 },
  6: { from: 8, until: 22 },
};
const maxDaysFromToday = 14;

const year = new Date().getFullYear();
---

<!DOCTYPE html>
<!-- Source code available at https://github.com/WesSouza/wes.dev/ -->
<html lang="en" class="-PurpleBackground">
  <head>
    <HeadMeta
      title="My Availability – Wes Souza"
      description="Check when I am free for a meeting."
    />
  </head>
  <body>
    <MeetWindow
      client:load
      freeHoursByWeekday={freeHoursByWeekday}
      maxDaysFromToday={maxDaysFromToday}
    />

    <footer class="Footer">
      <abbr title="Copyright">&copy;</abbr>
      {year} Wes Souza
    </footer>

    <style>
      html {
        height: 100%;
        color: var(--font-color);
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 50px;
        font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
      }

      .Calendar {
      }

      .Column {
      }

      .Footer {
        border-top: 0.5px solid rgba(255, 255, 255, 0.1);
        margin-top: 50px;
        padding: 5px 10px;
        color: rgba(255, 255, 255, 0.65);
        font-size: 13rem;
      }
    </style>
  </body>
</html>
