.Border,
.Button,
.Field,
.Grouping,
.StatusField,
.TextBox,
.Well,
.Window {
  --border-width: calc(var(--wes95-scale-value) * 1);
  --border-width-negative: calc(var(--wes95-scale-value) * -1);
  --border-width-double: calc(var(--wes95-scale-value) * 2);
  --border-width-double-negative: calc(var(--wes95-scale-value) * -2);
  --wes95-border-padding: calc(var(--border-width) * 3);

  padding: var(--wes95-border-padding);

  box-shadow:
    inset var(--border-width-negative) var(--border-width-negative)
      var(--wes95-bottomRightOuter),
    inset var(--border-width) var(--border-width) var(--wes95-topLeftOuter),
    inset var(--border-width-double-negative)
      var(--border-width-double-negative) var(--wes95-bottomRightInner),
    inset var(--border-width-double) var(--border-width-double)
      var(--wes95-topLeftInner);

  &:is(.SmallSpacing, .MediumSpacing, .LargeSpacing) {
    padding: calc(var(--wes95-border-padding) + var(--wes95-spacing-padding));
  }
}

.Button,
.Button.-up {
  --wes95-topLeftOuter: var(--wes95-color-borderLightest);
  --wes95-topLeftInner: var(--wes95-color-borderLight);
  --wes95-bottomRightInner: var(--wes95-color-borderDark);
  --wes95-bottomRightOuter: var(--wes95-color-borderDarkest);
}

.Button:active,
.Button.-down {
  --wes95-topLeftOuter: var(--wes95-color-borderDarkest);
  --wes95-topLeftInner: var(--wes95-color-borderDark);
  --wes95-bottomRightInner: var(--wes95-color-borderLight);
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.Field,
.TextBox,
.Well {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: var(--wes95-color-borderDarkest);
  --wes95-bottomRightInner: var(--wes95-color-borderLight);
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.Grouping {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: var(--wes95-color-borderLightest);
  --wes95-bottomRightInner: var(--wes95-color-borderDark);
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.StatusField {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: transparent;
  --wes95-bottomRightInner: transparent;
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.Button.-thin,
.Button.-thin.-up {
  --wes95-topLeftOuter: var(--wes95-color-borderLightest);
  --wes95-topLeftInner: transparent;
  --wes95-bottomRightInner: transparent;
  --wes95-bottomRightOuter: var(--wes95-color-borderDark);
}

.Button.-thin:active,
.Button.-thin.-down {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: transparent;
  --wes95-bottomRightInner: transparent;
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.Window {
  --wes95-topLeftOuter: var(--wes95-color-borderLight);
  --wes95-topLeftInner: var(--wes95-color-borderLightest);
  --wes95-bottomRightInner: var(--wes95-color-borderDark);
  --wes95-bottomRightOuter: var(--wes95-color-borderDarkest);
}
