.Border,
.Button,
.Menu:not(.-listBox),
.Field,
.Grouping,
.StatusField,
.Taskbar,
.TaskbarButton,
.TextBox,
.ToolbarButton,
.VerticalHandle,
.Well,
.Window:not(.-maximized),
.WindowTitleButton {
  --border-width: calc(var(--wes95-scale-value) * 1);
  --border-width-negative: calc(var(--wes95-scale-value) * -1);
  --border-width-double: calc(var(--wes95-scale-value) * 2);
  --border-width-double-negative: calc(var(--wes95-scale-value) * -2);
  --border-width-triple: calc(var(--wes95-scale-value) * 3);

  --border-padding-block: calc(
    var(--wes95-padding-block, 0px) + var(--border-width) * 2
  );
  --border-padding-inline: calc(
    var(--wes95-padding-inline, 0px) + var(--border-width) * 2
  );

  &.VerticalHandle {
    --border-padding-inline: calc(
      var(--wes95-padding-inline, 0px) + var(--border-width) * 1.5
    );
  }

  &:not(.Taskbar) {
    padding-block: var(--border-padding-block);
    padding-inline: var(--border-padding-inline);

    box-shadow:
      inset var(--border-width-negative) var(--border-width-negative)
        var(--wes95-bottomRightOuter),
      inset var(--border-width) var(--border-width) var(--wes95-topLeftOuter),
      inset var(--border-width-double-negative)
        var(--border-width-double-negative) var(--wes95-bottomRightInner),
      inset var(--border-width-double) var(--border-width-double)
        var(--wes95-topLeftInner),
      inset 0 var(--border-width-triple) var(--wes95-topInnermost, transparent);

    &:is(.SmallSpacing, .MediumSpacing, .LargeSpacing) {
      padding-block: calc(
        var(--border-padding-block) + var(--wes95-spacing-padding)
      );
      padding-inline: calc(
        var(--border-padding-inline) + var(--wes95-spacing-padding)
      );
    }
  }

  &:is(.Button, .ToolbarButton, .WindowTitleButton):is(:active, .-down):not(
      [disabled]
    ) {
    padding-block: calc(
        var(--border-padding-block) + var(--wes95-button-padding-shift)
      )
      calc(var(--border-padding-block) - var(--wes95-button-padding-shift));
    padding-inline: calc(
        var(--border-padding-inline) + var(--wes95-button-padding-shift)
      )
      calc(var(--border-padding-inline) - var(--wes95-button-padding-shift));
  }

  &.TaskbarButton.-active {
    --wes95-topInnermost: var(--wes95-color-borderLightest);
  }

  &.TaskbarButton:is(:active, .-down):not([disabled]) {
    padding-block: calc(
        var(--border-padding-block) + var(--wes95-button-padding-shift)
      )
      calc(var(--border-padding-block) - var(--wes95-button-padding-shift));
  }

  &.Taskbar {
    padding-inline: var(--border-padding-inline);
    padding-block-start: calc(
      var(--border-padding-block) + var(--wes95-spacing-padding)
    );
    padding-block-end: var(--border-padding-block);

    box-shadow:
      inset 0 var(--border-width) var(--wes95-topLeftOuter),
      inset 0 var(--border-width-double) var(--wes95-topLeftInner);
  }
}

.Border,
.Button,
.TaskbarButton,
.ToolbarButton,
.VerticalHandle,
.WindowTitleButton {
  --wes95-topLeftOuter: var(--wes95-color-borderLightest);
  --wes95-topLeftInner: var(--wes95-color-borderLight);
  --wes95-bottomRightInner: var(--wes95-color-borderDark);
  --wes95-bottomRightOuter: var(--wes95-color-borderDarkest);

  &.VerticalHandle,
  &.-thin {
    --wes95-topLeftOuter: var(--wes95-color-borderLightest);
    --wes95-topLeftInner: transparent;
    --wes95-bottomRightInner: transparent;
    --wes95-bottomRightOuter: var(--wes95-color-borderDark);
  }

  &:active:not([disabled]),
  &.-down {
    --wes95-topLeftOuter: var(--wes95-color-borderDarkest);
    --wes95-topLeftInner: var(--wes95-color-borderDark);
    --wes95-bottomRightInner: var(--wes95-color-borderLight);
    --wes95-bottomRightOuter: var(--wes95-color-borderLightest);

    &.-thin {
      --wes95-topLeftOuter: var(--wes95-color-borderDark);
      --wes95-topLeftInner: transparent;
      --wes95-bottomRightInner: transparent;
      --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
    }
  }
}

.Field,
.TextBox,
.Well {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: var(--wes95-color-borderDarkest);
  --wes95-bottomRightInner: var(--wes95-color-borderLight);
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.Grouping {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: var(--wes95-color-borderLightest);
  --wes95-bottomRightInner: var(--wes95-color-borderDark);
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.StatusField {
  --wes95-topLeftOuter: var(--wes95-color-borderDark);
  --wes95-topLeftInner: transparent;
  --wes95-bottomRightInner: transparent;
  --wes95-bottomRightOuter: var(--wes95-color-borderLightest);
}

.Menu,
.Taskbar,
.Window {
  --wes95-topLeftOuter: var(--wes95-color-borderLight);
  --wes95-topLeftInner: var(--wes95-color-borderLightest);
  --wes95-bottomRightInner: var(--wes95-color-borderDark);
  --wes95-bottomRightOuter: var(--wes95-color-borderDarkest);
}
