.Button,
.ToolbarButton,
.WindowTitleButton {
  --wes95-button-padding-shift: var(--wes95-scale-value);

  &:is(.Button) {
    --wes95-padding-inline: calc(var(--wes95-scale-value) * 12);
    min-height: var(--wes95-button-height);
  }

  background-color: var(--wes95-color-material);
}

button:is(.Button, .ToolbarButton, .WindowTitleButton) {
  display: inline-block;
  appearance: none;
  border: none;
}
