.Button,
.LinkButton,
.MenuButton,
.TaskbarButton,
.ToolbarButton,
.WindowTitleButton {
  --wes95-button-padding-shift: var(--wes95-scale-value);

  display: flex;
  align-items: center;
  background-color: var(--wes95-color-material);
  gap: calc(var(--wes95-scale-value) * 2);
  text-align: start;

  &.Button {
    --wes95-padding-inline: calc(var(--wes95-scale-value) * 8);
  }

  &.LinkButton {
    background-color: transparent;
  }

  &.TaskbarButton {
    --wes95-padding-inline: calc(var(--wes95-scale-value) * 4);
  }

  &:is(.Button, .TaskbarButton) {
    min-height: calc(var(--wes95-scale-value) * 18);
  }

  &.TaskbarButton.-active,
  &.ToolbarButton.-active {
    font-weight: bold;

    background: repeating-conic-gradient(
        var(--wes95-color-borderLightest) 0% 25%,
        transparent 0% 50%
      )
      var(--wes95-scale-value) / calc(var(--wes95-scale-value) * 2)
      calc(var(--wes95-scale-value) * 2);
  }

  &.MenuButton:not(.TaskbarButton)[aria-expanded],
  &.MenuButton:not(.TaskbarButton):active {
    background-color: var(--wes95-color-hoverBackground);
    color: var(--wes95-color-materialTextInvert);
  }

  &:not(.LinkButton, .TaskbarButton) {
    justify-content: center;
  }
}

button:is(
    .Button,
    .LinkButton,
    .MenuButton,
    .TaskbarButton,
    .ToolbarButton,
    .WindowTitleButton
  ) {
  appearance: none;
  border: none;
}
