.Icon {
  display: block;
  background-image: url('/C/Wes95/System32/shell32.png');
}

.Symbol {
  display: block;
  width: calc(var(--wes95-scale-value) * 9);
  height: calc(var(--wes95-scale-value) * 9);
}
