.Icon {
  display: block;
  background-image: url('/C/Wes95/System32/shell32.png');
}

.Symbol {
  display: block;
  width: calc(var(--wes95-scale-value) * 9);
  height: calc(var(--wes95-scale-value) * 9);
}

:is(
    .Button,
    .FlatButton,
    .GhostButton,
    .LinkButton,
    .MenuButton,
    .TaskbarButton,
    .ThinButton,
    .ToolbarButton,
    .WindowTitleButton
  ):disabled
  .Icon {
  filter: url(#toolbar-disabled-icon)
    drop-shadow(2px 2px 0 var(--wes95-color-canvasTextDisabledShadow));
}
