.Icon_dialogErrorMedium {
  background-position: -0px -0px;
  width: 64px;
  height: 64px;
}

.Icon_dialogQuestionMedium {
  background-position: -64px -0px;
  width: 64px;
  height: 64px;
}

.Icon_dialogWarningMedium {
  background-position: -0px -64px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeBitmapMedium {
  background-position: -64px -64px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeBitmapSmall {
  background-position: -448px -448px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeExecutableMedium {
  background-position: -128px -0px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeExecutableSmall {
  background-position: -480px -448px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeGifMedium {
  background-position: -128px -64px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeGifSmall {
  background-position: -448px -480px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeHtmlMedium {
  background-position: -0px -128px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeHtmlSmall {
  background-position: -480px -480px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeJpegMedium {
  background-position: -64px -128px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeJpegSmall {
  background-position: -512px -0px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeMidiMedium {
  background-position: -128px -128px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeMidiSmall {
  background-position: -512px -32px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypePaperFeatherMedium {
  background-position: -192px -0px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypePaperFeatherSmall {
  background-position: -512px -64px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeTextMedium {
  background-position: -192px -64px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeTextSmall {
  background-position: -512px -96px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeUnknownMedium {
  background-position: -192px -128px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeUnknownSmall {
  background-position: -512px -128px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeVideoMedium {
  background-position: -0px -192px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeVideoSmall {
  background-position: -512px -160px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeWaveMedium {
  background-position: -64px -192px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeWaveSmall {
  background-position: -512px -192px;
  width: 32px;
  height: 32px;
}

.Icon_fileTypeWordPadMedium {
  background-position: -128px -192px;
  width: 64px;
  height: 64px;
}

.Icon_fileTypeWordPadSmall {
  background-position: -512px -224px;
  width: 32px;
  height: 32px;
}

.Icon_iconBlueskyMedium {
  background-position: -192px -192px;
  width: 64px;
  height: 64px;
}

.Icon_iconBlueskySmall {
  background-position: -512px -256px;
  width: 32px;
  height: 32px;
}

.Icon_iconBriefcaseMedium {
  background-position: -256px -0px;
  width: 64px;
  height: 64px;
}

.Icon_iconBriefcaseSmall {
  background-position: -512px -288px;
  width: 32px;
  height: 32px;
}

.Icon_iconCDDriveMedium {
  background-position: -256px -64px;
  width: 64px;
  height: 64px;
}

.Icon_iconCDDriveSmall {
  background-position: -512px -320px;
  width: 32px;
  height: 32px;
}

.Icon_iconCalculatorMedium {
  background-position: -256px -128px;
  width: 64px;
  height: 64px;
}

.Icon_iconCalculatorSmall {
  background-position: -512px -352px;
  width: 32px;
  height: 32px;
}

.Icon_iconCharmapSmall {
  background-position: -512px -384px;
  width: 32px;
  height: 32px;
}

.Icon_iconComputerMedium {
  background-position: -256px -192px;
  width: 64px;
  height: 64px;
}

.Icon_iconComputerSmall {
  background-position: -512px -416px;
  width: 32px;
  height: 32px;
}

.Icon_iconContactCardBeardMedium {
  background-position: -0px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconContactCardBeardSmall {
  background-position: -512px -448px;
  width: 32px;
  height: 32px;
}

.Icon_iconContactCardMedium {
  background-position: -64px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconContactCardSmall {
  background-position: -512px -480px;
  width: 32px;
  height: 32px;
}

.Icon_iconControlPanelMedium {
  background-position: -128px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconControlPanelSmall {
  background-position: -0px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconDefragMedium {
  background-position: -192px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconDefragSmall {
  background-position: -32px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconDesktopMedium {
  background-position: -256px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconDesktopSmall {
  background-position: -64px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconDialMedium {
  background-position: -320px -0px;
  width: 64px;
  height: 64px;
}

.Icon_iconDocumentsFolderMedium {
  background-position: -320px -64px;
  width: 64px;
  height: 64px;
}

.Icon_iconDocumentsFolderSmall {
  background-position: -96px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconDosSmall {
  background-position: -128px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconDriveMedium {
  background-position: -320px -128px;
  width: 64px;
  height: 64px;
}

.Icon_iconDriveSmall {
  background-position: -160px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconExplorerMedium {
  background-position: -320px -192px;
  width: 64px;
  height: 64px;
}

.Icon_iconExplorerSmall {
  background-position: -192px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconFindMedium {
  background-position: -320px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconFindSmall {
  background-position: -224px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconFloppyDriveMedium {
  background-position: -0px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconFloppyDriveSmall {
  background-position: -256px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconFolderClosedMedium {
  background-position: -64px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconFolderClosedSmall {
  background-position: -288px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconFolderListPinMedium {
  background-position: -128px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconFolderListSmall {
  background-position: -320px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconFolderOpenMedium {
  background-position: -192px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconFolderOpenSmall {
  background-position: -352px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconGenericMedium {
  background-position: -256px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconGenericSmall {
  background-position: -384px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconHelpMedium {
  background-position: -320px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconHelpSmall {
  background-position: -416px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconIexplorerMedium {
  background-position: -384px -0px;
  width: 64px;
  height: 64px;
}

.Icon_iconIexplorerSmall {
  background-position: -448px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconInstagramMedium {
  background-position: -384px -64px;
  width: 64px;
  height: 64px;
}

.Icon_iconInstagramSmall {
  background-position: -480px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconJdbmgrMedium {
  background-position: -384px -128px;
  width: 64px;
  height: 64px;
}

.Icon_iconMailMedium {
  background-position: -384px -192px;
  width: 64px;
  height: 64px;
}

.Icon_iconMailSmall {
  background-position: -512px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconMediaPlayerMedium {
  background-position: -384px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconMediaPlayerSmall {
  background-position: -544px -0px;
  width: 32px;
  height: 32px;
}

.Icon_iconMinesweeperSmall {
  background-position: -544px -32px;
  width: 32px;
  height: 32px;
}

.Icon_iconModemMedium {
  background-position: -384px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconModemSmall {
  background-position: -544px -64px;
  width: 32px;
  height: 32px;
}

.Icon_iconMplayerMedium {
  background-position: -0px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconMplayerSmall {
  background-position: -544px -96px;
  width: 32px;
  height: 32px;
}

.Icon_iconNetmeetingSmall {
  background-position: -544px -128px;
  width: 32px;
  height: 32px;
}

.Icon_iconNetscapeMedium {
  background-position: -64px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconNetscapeSmall {
  background-position: -544px -160px;
  width: 32px;
  height: 32px;
}

.Icon_iconNettalkSmall {
  background-position: -544px -192px;
  width: 32px;
  height: 32px;
}

.Icon_iconNetworkNeighborhoodMedium {
  background-position: -128px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconNetworkNeighborhoodSmall {
  background-position: -544px -224px;
  width: 32px;
  height: 32px;
}

.Icon_iconNotepadMedium {
  background-position: -192px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconNotepadSmall {
  background-position: -544px -256px;
  width: 32px;
  height: 32px;
}

.Icon_iconPaintMedium {
  background-position: -256px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconPaintSmall {
  background-position: -544px -288px;
  width: 32px;
  height: 32px;
}

.Icon_iconPaperFeatherMedium {
  background-position: -320px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconPaperFeatherSmall {
  background-position: -544px -320px;
  width: 32px;
  height: 32px;
}

.Icon_iconProgramsFolderMedium {
  background-position: -384px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconProgramsFolderSmall {
  background-position: -544px -352px;
  width: 32px;
  height: 32px;
}

.Icon_iconQuickViewLarge {
  background-position: -448px -0px;
  width: 64px;
  height: 64px;
}

.Icon_iconQuickViewSmall {
  background-position: -544px -384px;
  width: 32px;
  height: 32px;
}

.Icon_iconRunMedium {
  background-position: -448px -64px;
  width: 64px;
  height: 64px;
}

.Icon_iconRunSmall {
  background-position: -544px -416px;
  width: 32px;
  height: 32px;
}

.Icon_iconSemaphoreMedium {
  background-position: -448px -128px;
  width: 64px;
  height: 64px;
}

.Icon_iconSemaphoreSmall {
  background-position: -544px -448px;
  width: 32px;
  height: 32px;
}

.Icon_iconSettingsMedium {
  background-position: -448px -192px;
  width: 64px;
  height: 64px;
}

.Icon_iconSettingsSmall {
  background-position: -544px -480px;
  width: 32px;
  height: 32px;
}

.Icon_iconShutdownMedium {
  background-position: -448px -256px;
  width: 64px;
  height: 64px;
}

.Icon_iconShutdownSmall {
  background-position: -544px -512px;
  width: 32px;
  height: 32px;
}

.Icon_iconSolitaireMedium {
  background-position: -448px -320px;
  width: 64px;
  height: 64px;
}

.Icon_iconSolitaireSmall {
  background-position: -0px -544px;
  width: 32px;
  height: 32px;
}

.Icon_iconSuspendMedium {
  background-position: -448px -384px;
  width: 64px;
  height: 64px;
}

.Icon_iconSuspendSmall {
  background-position: -32px -544px;
  width: 32px;
  height: 32px;
}

.Icon_iconTrashEmptyMedium {
  background-position: -0px -448px;
  width: 64px;
  height: 64px;
}

.Icon_iconTrashEmptySmall {
  background-position: -64px -544px;
  width: 32px;
  height: 32px;
}

.Icon_iconTrashFullMedium {
  background-position: -64px -448px;
  width: 64px;
  height: 64px;
}

.Icon_iconTrashFullSmall {
  background-position: -96px -544px;
  width: 32px;
  height: 32px;
}

.Icon_iconTwitterMedium {
  background-position: -128px -448px;
  width: 64px;
  height: 64px;
}

.Icon_iconTwitterSmall {
  background-position: -128px -544px;
  width: 32px;
  height: 32px;
}

.Icon_iconWebErrorMedium {
  background-position: -192px -448px;
  width: 64px;
  height: 64px;
}

.Icon_iconWesMedium {
  background-position: -256px -448px;
  width: 64px;
  height: 64px;
}

.Icon_iconWesSmall {
  background-position: -160px -544px;
  width: 32px;
  height: 32px;
}

.Icon_iconWordPadMedium {
  background-position: -320px -448px;
  width: 64px;
  height: 64px;
}

.Icon_iconWordPadSmall {
  background-position: -192px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAddressBookSmall {
  background-position: -224px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAlignBottomSmall {
  background-position: -256px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAlignCenterSmall {
  background-position: -288px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAlignLeftSmall {
  background-position: -320px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAlignRightSmall {
  background-position: -352px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAlignTopSmall {
  background-position: -384px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarAlignVerticalCenterSmall {
  background-position: -416px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarBackSmall {
  background-position: -448px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarBlueCheckSmall {
  background-position: -480px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarBoldSmall {
  background-position: -512px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarBucketPictureSmall {
  background-position: -544px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarButtonSmall {
  background-position: -576px -0px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCardDeckSmall {
  background-position: -576px -32px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCassetteSmall {
  background-position: -576px -64px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCenterSmall {
  background-position: -576px -96px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCheckboxSmall {
  background-position: -576px -128px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCloseSmall {
  background-position: -576px -160px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCopySmall {
  background-position: -576px -192px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCursorSmall {
  background-position: -576px -224px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarCutSmall {
  background-position: -576px -256px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarDecreaseFontSmall {
  background-position: -576px -288px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarDeleteRedSmall {
  background-position: -576px -320px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarDeleteShadowSmall {
  background-position: -576px -352px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarDeleteSmall {
  background-position: -576px -384px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarDeskpadMedium {
  background-position: -384px -448px;
  width: 64px;
  height: 64px;
}

.Icon_toolbarDeskpadSmall {
  background-position: -576px -416px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarEjectSmall {
  background-position: -576px -448px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarEnvelopeLetterSmall {
  background-position: -576px -480px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarEnvelopeOpenSmall {
  background-position: -576px -512px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarEnvelopeSmall {
  background-position: -576px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarExitSmall {
  background-position: -0px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFavoriteAddSmall {
  background-position: -32px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFavoriteFolderSmall {
  background-position: -64px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFileNewSmall-1 {
  background-position: -96px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFileNewSmall {
  background-position: -128px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFillColorSmall {
  background-position: -160px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFilterSmall {
  background-position: -192px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFindFolderSmall {
  background-position: -224px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFindSmall {
  background-position: -256px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFlipHorizontalSmall {
  background-position: -288px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFlipVerticalSmall {
  background-position: -320px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFolderNewSmall {
  background-position: -352px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFolderSmall {
  background-position: -384px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFolderUpSmall {
  background-position: -416px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFormatBrushSmall {
  background-position: -448px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarForwardPersonSmall {
  background-position: -480px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarForwardSmall {
  background-position: -512px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarFoxSmall {
  background-position: -544px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarGlassesSmall {
  background-position: -576px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarGlobeLinkSmall {
  background-position: -608px -0px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarGlobeSearchSmall {
  background-position: -608px -32px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarGlobeStandSmall {
  background-position: -608px -64px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarGlobeWebpageSmall {
  background-position: -608px -96px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarHandSmall {
  background-position: -608px -128px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarHelpBookSmall {
  background-position: -608px -160px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarHelpCursorSmall {
  background-position: -608px -192px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarHelpSmall {
  background-position: -608px -224px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarHighlightColorSmall {
  background-position: -608px -256px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarHomeSmall {
  background-position: -608px -288px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarIconsDetailsSmall {
  background-position: -608px -320px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarIconsListSmall {
  background-position: -608px -352px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarIconsSmall {
  background-position: -608px -384px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarIncreaseFontSmall {
  background-position: -608px -416px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarItalicsSmall {
  background-position: -608px -448px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarJustifySmall {
  background-position: -608px -480px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarLinkSmall {
  background-position: -608px -512px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarLockSmall {
  background-position: -608px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarMagicWandSmall {
  background-position: -608px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarMagnifyingGlassSmall {
  background-position: -0px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarMaximizeSmall {
  background-position: -32px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarMoneySmall {
  background-position: -64px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarOpenFolderSmall {
  background-position: -96px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarOpenGlobeSmall {
  background-position: -128px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarOrderedListSmall {
  background-position: -160px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPalleteSmall {
  background-position: -192px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPasteSmall {
  background-position: -224px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPicturePersonSmall {
  background-position: -256px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPictureSmall {
  background-position: -288px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPinSmall {
  background-position: -320px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPrintPreviewSmall {
  background-position: -352px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPrintSmall {
  background-position: -384px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarPropertiesSmall {
  background-position: -416px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRadioSmall {
  background-position: -448px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRecycleBinSmall {
  background-position: -480px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRedXSmall {
  background-position: -512px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRedoSmall {
  background-position: -544px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRefreshSmall {
  background-position: -576px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarReplyPeopleSmall {
  background-position: -608px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarReplyPersonSmall {
  background-position: -640px -0px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRotaryPhoneSmall {
  background-position: -640px -32px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRotateCCWSmall {
  background-position: -640px -64px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarRotateCWSmall {
  background-position: -640px -96px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSaveAllSmall {
  background-position: -640px -128px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSaveSmall {
  background-position: -640px -160px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarScriptSmall {
  background-position: -640px -192px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSendBackSmall {
  background-position: -640px -224px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSendBackwardSmall {
  background-position: -640px -256px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSendForwardSmall {
  background-position: -640px -288px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSendFrontSmall {
  background-position: -640px -320px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSortAscendingSmall {
  background-position: -640px -352px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSortDescendingSmall {
  background-position: -640px -384px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSoundSmall {
  background-position: -640px -416px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarSpellCheckSmall {
  background-position: -640px -448px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarStopDocumentSmall {
  background-position: -640px -480px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarStopSmall {
  background-position: -640px -512px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarStrikethroughSmall {
  background-position: -640px -544px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTabNewSmall {
  background-position: -640px -576px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTabsSmall {
  background-position: -640px -608px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTextBoxSmall {
  background-position: -0px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTextColorSmall {
  background-position: -32px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTextInputSmall {
  background-position: -64px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTextShadowSmall {
  background-position: -96px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarToggleButtonSmall {
  background-position: -128px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarToolsSmall {
  background-position: -160px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarTrashSmall {
  background-position: -192px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarUnderlineSmall {
  background-position: -224px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarUndoSmall {
  background-position: -256px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarUnlinkSmall {
  background-position: -288px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarUnorderedListSmall {
  background-position: -320px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarWordArtSmall {
  background-position: -352px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarZoomInSmall {
  background-position: -384px -640px;
  width: 32px;
  height: 32px;
}

.Icon_toolbarZoomOutSmall {
  background-position: -416px -640px;
  width: 32px;
  height: 32px;
}
