.ItemList {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;

  &.-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    max-width: 100%;

    .LinkButton {
      display: flex;
      align-items: center;
      width: calc(var(--wes95-scale-value) * 64);
      padding: calc(var(--wes95-scale-value) * 6);
      flex-direction: column;
    }
  }

  &.-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    &.-icons {
      gap: calc(var(--wes95-scale-value) * 4);
      width: fit-content;
    }

    &:not(&.-icons) {
      gap: calc(var(--wes95-scale-value) * 4);

      .LinkButton {
        display: flex;
        align-items: center;
      }
    }
  }

  .Item {
    .LinkButton {
      gap: calc(var(--wes95-scale-value) * 4);

      &:hover,
      &:focus {
        .Icon {
          filter: url(#blue-tint);
        }

        .ItemLabel {
          color: var(--wes95-color-materialTextInvert);
          background-color: var(--wes95-color-hoverBackground);
        }
      }

      .ItemLabel {
        display: flex;
        align-items: center;
        gap: calc(var(--wes95-scale-value) * 2);
        padding: var(--wes95-scale-value) calc(var(--wes95-scale-value) * 4);
        width: max-content;
      }
    }
  }
}
