.Menu {
  --wes95-padding-block: var(--wes95-scale-value);
  --wes95-padding-inline: var(--wes95-scale-value);

  position: absolute;
  margin: 0;
  border: 0;
  background-color: var(--wes95-color-material);
  list-style-type: none;
  cursor: default;

  &.-listBox {
    background-color: var(--wes95-color-canvas);
    border: var(--wes95-scale-value) solid var(--wes95-color-canvasText);
    min-width: calc(var(--wes95-scale-value) * 160);
    max-height: 66vh;
    overflow: auto;
  }

  &.-verticalBar {
    padding-inline-start: calc(var(--wes95-scale-value) * 19) !important;
  }
}

.MenuBar {
  display: flex;
}

.MenuItem {
  display: flex;
  align-items: center;
  padding: calc(var(--wes95-scale-value) * 2) calc(var(--wes95-scale-value) * 4);
  gap: calc(var(--wes95-scale-value) * 4);
  min-height: calc(var(--wes95-scale-value) * 16);

  padding-inline-start: calc(
    calc(var(--wes95-scale-value) * 4) +
      calc(var(--wes95-scale-value) * 10 * var(--wes95-menu-indent, 0))
  );

  &.-active {
    color: var(--wes95-color-materialTextInvert);
    background-color: var(--wes95-color-hoverBackground);
  }
}

.MenuIcon {
  width: calc(var(--wes95-scale-value) * 16);

  &.-large {
    width: calc(var(--wes95-scale-value) * 32);
  }
}

.MenuLabel {
  flex-grow: 1;
}

.MenuChevron {
  position: relative;
  margin-inline-start: calc(var(--wes95-scale-value) * 11);
  left: calc(var(--wes95-scale-value) * 4);
  width: calc(var(--wes95-scale-value) * 9);
}

.Toolbar {
  padding: calc(var(--wes95-scale-value) * 1) 0;
}

.MenuWes95 {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: calc(var(--wes95-scale-value) * 3);
  left: calc(var(--wes95-scale-value) * 3);
  bottom: calc(var(--wes95-scale-value) * 3);
  width: calc(var(--wes95-scale-value) * 16);
  padding: calc(var(--wes95-scale-value) * 4) calc(var(--wes95-scale-value) * 2);
  font-size: 1.2em;
  color: var(--wes95-color-headerText);
  background-color: var(--wes95-color-borderDark);

  .Wes95 {
    margin-bottom: calc(var(--wes95-scale-value) * -10);
    transform: rotate(-90deg);
    transform-origin: top left;
  }

  .Wes {
    font-weight: bold;
    color: var(--wes95-color-borderLight);
  }
}
