.Menu {
  --wes95-padding-block: calc(var(--wes95-scale-value) * 2);
  --wes95-padding-inline: var(--wes95-scale-value);

  position: absolute;
  margin: 0;
  border: 0;
  background-color: var(--wes95-color-material);
  list-style-type: none;
  cursor: default;
}

.MenuBar {
  display: flex;
}

.MenuItem {
  display: flex;
  align-items: center;
  padding: calc(var(--wes95-scale-value) * 2) calc(var(--wes95-scale-value) * 4);
  gap: calc(var(--wes95-scale-value) * 4);
  min-height: calc(var(--wes95-scale-value) * 16);

  padding-inline-start: calc(
    calc(var(--wes95-scale-value) * 4) +
      calc(var(--wes95-scale-value) * 10 * var(--wes95-menu-indent, 0))
  );

  &.-active {
    color: var(--wes95-color-materialTextInvert);
    background-color: var(--wes95-color-hoverBackground);
  }
}

.MenuIcon {
  width: calc(var(--wes95-scale-value) * 16);

  &.-large {
    width: calc(var(--wes95-scale-value) * 32);
  }
}

.MenuLabel {
  flex-grow: 1;
}

.MenuChevron {
  position: relative;
  margin-inline-start: calc(var(--wes95-scale-value) * 11);
  left: calc(var(--wes95-scale-value) * 4);
  width: calc(var(--wes95-scale-value) * 9);
}
