html,
body,
.Screen {
  position: fixed;
  inset: 0;
  overscroll-behavior: none;
}

.Screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Desktop {
  color: var(--wes95-color-canvasTextInvert);
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.Taskbar {
  position: relative;
  z-index: 2;
}

body {
  background-color: var(--wes95-color-desktopBackground);

  &:has(.Screen.-maximized) {
    background-color: var(--wes95-color-headerBackground);
  }
}
