.Window {
  --wes95-padding-block: var(--wes95-scale-value);
  --wes95-padding-inline: var(--wes95-scale-value);

  position: absolute;
  background-color: var(--wes95-color-material);

  &.-minimized {
    display: none;
  }

  &.-maximized {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.WindowTitleBar {
  align-items: center;
  background-color: var(--wes95-color-headerNotActiveBackground);
  color: var(--wes95-color-headerNotActiveText);
  cursor: default;
  display: flex;
  gap: calc(var(--wes95-scale-value) * 2);
  padding: var(--wes95-scale-value) calc(var(--wes95-scale-value) * 2);

  .Window.-active & {
    color: var(--wes95-color-headerText);
    background-color: var(--wes95-color-headerBackground);
  }
}

.WindowTitleIcon {
}

.WindowTitleText {
  cursor: default;
  flex-grow: 1;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.WindowTitleButtons {
  color: var(--wes95-color-canvasText);
  display: flex;
}

.WindowTitleButton {
  --wes95-padding-block: var(--wes95-scale-value);
  --wes95-padding-inline: calc(var(--wes95-scale-value) * 2);

  svg {
    display: block;
    width: calc(var(--wes95-scale-value) * 9);
    height: calc(var(--wes95-scale-value) * 9);
  }

  &:last-child {
    margin-inline-start: calc(var(--wes95-scale-value) * 2);
  }
}

.WindowContent {
  flex-shrink: 1;
  overflow: hidden;

  &.-grow {
    flex-grow: 1;
  }
}

.WindowTitleAnimation {
  align-items: center;
  animation: WindowTitleAnimation 350ms linear forwards;
  background-color: var(--wes95-color-headerBackground);
  color: var(--wes95-color-headerText);
  display: flex;
  gap: calc(var(--wes95-scale-value) * 2);
  height: var(--wes95-title-from-height);
  left: var(--wes95-title-from-x);
  padding: var(--wes95-scale-value) calc(var(--wes95-scale-value) * 2);
  position: absolute;
  top: var(--wes95-title-from-y);
  width: var(--wes95-title-from-width);
  z-index: 3;
}

@keyframes WindowTitleAnimation {
  100% {
    height: var(--wes95-title-to-height);
    left: var(--wes95-title-to-x);
    top: var(--wes95-title-to-y);
    width: var(--wes95-title-to-width);
  }
}
