.Window {
  position: absolute;
  background-color: var(--wes95-color-material);

  &.-minimized {
    display: none;
  }

  &.-maximized {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.WindowContent {
}

.WindowTitleBar {
  display: flex;

  padding: calc(var(--wes95-scale-value) * 2);
  color: var(--wes95-color-headerNotActiveText);
  background-color: var(--wes95-color-headerNotActiveBackground);

  cursor: default;

  .Window.-active & {
    color: var(--wes95-color-headerText);
    background-color: var(--wes95-color-headerBackground);
  }
}

.WindowTitleButtons {
}

.WindowTitleButton {
}

.WindowTitleIcon {
}

.WindowTitleText {
  flex-grow: 1;
}
