---
import Layout from '../../components/enhanced-youtube/Layout.astro';
---

<Layout title="Help">
  <h1>Enhanced YouTube Safari Extension Help</h1>
  <h2>How does it work?</h2>
  <p>
    A Safari Extension can be used to modify a website's behavior, enhancing the
    user experience.
  </p>
  <p>
    This app provides a Safari Extension that replaces the user interface
    controls of the video player when browsing YouTube's desktop website.
  </p>
  <p>
    The enhanced player provides a better user experience, guided by the
    visionOS design language.
  </p>
  <p>The extension utilizes common web standards to enable this experience.</p>
  <p>
    No personal information is used and no modifications are made beyond the
    video player.
  </p>

  <h2>I don't see the enhanced player</h2>
  <p>
    Make sure the extension is enabled and allowed to access youtube.com, and
    that you are on YouTube's desktop website.
  </p>
  <p>To request YouTube's desktop website:</p>
  <ol>
    <li>Open Safari and navigate to <b>youtube.com</b>.</li>
    <li>
      Tap <b>\(Image(systemName: "textformat.size"))</b> on the right side of the
      search field.
    </li>
    <li>
      Tap <b>Request Desktop Website</b> \(Image(systemName: "desktopcomputer")).
    </li>
  </ol>

  <p>To enable the extension on Settings:</p>
  <ol>
    <li>Open <b>Settings</b> and tap <b>Apps</b> on the sidebar.</li>
    <li>Tap \(Image(systemName: "safari")) <b>Safari</b> on the list.</li>
    <li>Scroll to the <b>General</b> section and tap <b>Extensions</b>.</li>
    <li>Tap <b>\(Image(.sparklesPlayCircle)) Enhanced YouTube</b>.</li>
    <li>Make sure the toggle at the top right is on.</li>
    <li>
      Under <b>Permissions</b>, tap <b>youtube.com</b> and then tap <b>Allow</b
      >.
    </li>
    <li>Return to Safari and reload the video.</li>
  </ol>

  <h2>Contact</h2>
  <p>If you have issues or questions, get in touch using the email below.</p>
  <p>
    <a
      href="mailto:enhanced-youtube@wes.dev?subject=Enhanced%20YouTube%20Extension%20contact"
      >enhanced-youtube@wes.dev</a
    >
  </p>
</Layout>
