---
import Layout from '../../components/enhanced-youtube/Layout.astro';
---

<Layout title="Help">
  <h1>Help</h1>
  <h2>How does it work?</h2>
  <p>
    A Safari Extension can be used to modify a website's behavior, enhancing the
    user experience.
  </p>
  <p>
    This app provides a Safari Extension that replaces the user interface
    controls of the video player when browsing YouTube's desktop website.
  </p>
  <p>
    The enhanced player provides a better user experience, guided by the
    visionOS design language.
  </p>
  <p>The extension utilizes common web standards to enable this experience.</p>
  <p>
    No personal information is used and no modifications are made beyond the
    video player.
  </p>

  <h2>I don't see the enhanced player</h2>
  <p>
    Make sure the extension is enabled and allowed to access youtube.com, and
    that you are on YouTube's desktop website.
  </p>
  <p>To request YouTube's desktop website:</p>
  <ol>
    <li>Open Safari and navigate to <b>youtube.com</b>.</li>
    <li>
      Tap <svg class="SvgInline" viewBox="0 0 44 44"
        ><use href="#textformat.size"></use>
      </svg> on the right side of the search field.
    </li>
    <li>
      Tap <b>Request Desktop Website</b>
      <svg class="SvgInline" viewBox="0 0 44 44"
        ><use href="#desktopcomputer"></use></svg
      >.
    </li>
  </ol>

  <p>To enable the extension on Settings:</p>
  <ol>
    <li>Open <b>Settings</b> and tap <b>Apps</b> on the sidebar.</li>
    <li>
      Tap <svg class="SvgInline" viewBox="0 0 44 44"
        ><use href="#safari"></use>
      </svg><b>Safari</b> on the list.
    </li>
    <li>
      Scroll to the <b>General</b> section and tap <b>Extensions</b>.
    </li>
    <li>
      Tap <svg class="SvgInline" viewBox="0 0 44 44"
        ><use href="#play.circle.and.sparkles"></use>
      </svg><strong>Enhanced Player</strong>.
    </li>
    <li>Make sure the toggle at the top right is on.</li>
    <li>
      Under <b>Permissions</b>, tap <b>youtube.com</b> and then tap <b>Allow</b
      >.
    </li>
    <li>Return to Safari and reload the video.</li>
  </ol>

  <h2>Contact</h2>
  <p>If you have issues or questions, get in touch using the email below.</p>
  <p>
    <a
      href="mailto:enhanced-youtube@wes.dev?subject=Enhanced%20Player%20Extension%20contact"
      >enhanced-youtube@wes.dev</a
    >
  </p>

  <svg class="Sprite" xmlns="http://www.w3.org/2000/svg">
    <symbol
      id="play.circle.and.sparkles"
      fill="none"
      height="44"
      viewBox="0 0 44 44"
      width="44"
    >
      <g fill="currentColor">
        <path
          clip-rule="evenodd"
          d="m29.1459 19.9078c.2957.8083.4571 1.6814.4571 2.5922 0 1.1112-.2403 2.1664-.6717 3.1163.0226.0759.0389.1482.0507.2145.0998.4862.1809.8559.2438 1.1161l.003.0104c.0165.0061.0358.0127.0582.0197.1158.035.2632.0739.4445.1164.8055-1.3425 1.2686-2.9139 1.2686-4.5934 0-1.4542-.3472-2.8273-.9631-4.041-.1984.0406-.3627.0793-.4952.1158l-.0091.0025-.0092.0024c-.0703.0183-.1209.0361-.1553.0503-.0092.0252-.0201.0594-.0315.1044-.058.2628-.1225.6487-.1908 1.1734zm-2.3607-4.9992c.9643.6017 1.8057 1.382 2.4779 2.2946-.0316.0082-.0622.0164-.0919.0246-.0885.023-.1716.0488-.2495.0772-.232.0847-.4167.1932-.5539.3254-.0907.091-.1693.2044-.2357.3403-.0052.0106-.0103.0213-.0154.0322-.6233-.8382-1.4164-1.5427-2.3285-2.0623.0399-.012.0784-.0247.1156-.038.2209-.079.3939-.1813.5189-.3066.0967-.0969.1787-.2174.2459-.3615.024-.0514.0461-.1058.0664-.1633.0182-.0517.0349-.1059.0502-.1626zm-1.2826-.6626c-1.0599-.4427-2.2233-.6872-3.4437-.6872-2.8597 0-5.4058 1.3425-7.0425 3.4316.1295.0579.2583.136.3809.2392.3166.2666.4682.5974.539.8617 1.37-1.8992 3.6019-3.1355 6.1226-3.1355.431 0 .8535.0362 1.2648.1056.1871-.1006.3957-.1687.6204-.1949.6051-.0881 1.0471-.1682 1.3439-.2382l.003-.0007.0029-.0007c.0556-.0128.0979-.0254.1289-.036.008-.0248.0172-.0576.0265-.0997l.0021-.0099.0024-.0099c.0158-.0676.0321-.1427.0488-.2254zm-10.9807 8.5849c-.0047-.1097-.0071-.2201-.0071-.3309 0-.9466.1743-1.8525.4926-2.6873-.018-.0214-.0354-.0444-.0521-.069-.0223-.0327-.0434-.0681-.0634-.1063l-.0052-.0101c-.0181-.0356-.0353-.0735-.0514-.1136-.0199-.0494-.0382-.1022-.0551-.1585-.0508-.1912-.1075-.4514-.1698-.7806l-.0014-.0074-.0191-.1021c-.0352-.1483-.1233-.2225-.2642-.2225-.063 0-.1148.0148-.1553.0445-.0349.0652-.069.131-.1024.1972l-.0164.0803-.0062.0299c-.0663.3206-.1244.5777-.1743.7713-.0142.0535-.03.1038-.0474.151-.0135.0367-.028.0715-.0434.1044-.0062.0133-.0126.0263-.0192.039-.0173.0335-.0357.0649-.0552.094-.0243.0364-.0502.0694-.0779.099-.0341.0364-.074.0703-.1198.1016-.0093.0063-.0188.0125-.0285.0187-.1048.3562-.1879.7217-.248 1.0949.0136.0047.0269.0095.04.0143.0483.018.0931.0373.1345.0578.0133.0067.0263.0134.0389.0203.0182.01.0356.0202.0523.0307.0503.0317.0938.0659.1306.1028.0323.0303.0623.0653.09.105.0447.064.0834.1402.116.2285.0177.0478.0336.099.0477.1539.0512.199.1083.4652.1712.7986l.0013.0068.0178.0952c.0281.1484.1127.2225.2537.2225.0853 0 .1507-.0246.1962-.0739zm.1986 1.4264c-.141.0325-.2756.0446-.3948.0446-.3207 0-.7336-.0895-1.0904-.4024-.0034-.0029-.0067-.0059-.0101-.0089.668 4.2776 4.3686 7.5505 8.8337 7.5505 1.1527 0 2.2544-.2181 3.2662-.6153-.2384-.0651-.5956-.1457-1.089-.2408l-.0253-.0048-.0251-.0058c-.2712-.0628-.6355-.2063-.9326-.5384-.0224-.025-.0437-.0504-.064-.076-.3687.0554-.7461.0841-1.1302.0841-3.5615 0-6.5465-2.4679-7.3384-5.7868zm10.4847 5.1014c.1004.0224.1938.0443.2802.0657.1049.0258.1994.0508.2837.0749.1393.0433.2622.0927.3688.1485l.0243.013c.1089.0594.1999.1257.2729.1988.042.0441.0809.0937.1167.1487.0336.0516.0644.1079.0925.1691.8363-.5005 1.5839-1.1338 2.2138-1.8707-.1378-.0438-.2593-.0939-.3643-.1502l-.0105-.0057-.0067-.0036c-.1057-.0584-.1942-.1234-.2656-.1949-.0514-.0515-.0986-.1116-.1415-.1803-.028-.0447-.0542-.0931-.0785-.1451l-.0042-.0089c-.0429-.093-.08-.1974-.1115-.3132-.7199.8705-1.6315 1.5767-2.6701 2.0539z"
          fill-rule="evenodd"></path>
        <path
          d="m27.3952 20.1946c-.0845 0-.1585-.0282-.222-.0847-.0634-.0636-.0986-.1413-.1057-.2331-.0845-.6075-.1691-1.0808-.2537-1.4199-.0775-.3461-.2079-.604-.3911-.7735-.1762-.1766-.4475-.3143-.814-.4132-.3594-.0989-.8562-.212-1.4905-.3391-.2044-.0283-.3066-.1413-.3066-.3391 0-.0918.0282-.1695.0846-.2331.0634-.0636.1374-.0989.222-.1059.6343-.0919 1.1311-.1802 1.4905-.2649.3665-.0848.6378-.2155.814-.3921.1832-.1837.3136-.4521.3911-.8053.0846-.3602.1692-.8512.2537-1.4728.0141-.2119.1234-.3179.3277-.3179.2185 0 .3348.1095.3489.3285.0775.6145.1586 1.0914.2431 1.4304.0846.3391.2185.5969.4017.7735.1833.1696.4546.3038.814.4027.3594.0918.8563.1978 1.4905.3179.2044.0282.3066.1412.3066.339s-.1163.3108-.3488.3391c-.6273.0989-1.1206.1978-1.48.2967-.3524.0918-.6202.226-.8034.4026-.1762.1766-.3066.438-.3911.7841-.0776.3462-.1551.8265-.2326 1.4411-.0141.226-.1304.339-.3489.339zm-13.0695 2.7103c-.141 0-.2256-.0742-.2538-.2226-.0704-.3814-.1339-.6816-.1902-.9006-.0564-.219-.141-.3815-.2537-.4874-.1058-.106-.2678-.1908-.4863-.2543-.2185-.0636-.5215-.1342-.9091-.2119-.1551-.0354-.2326-.1201-.2326-.2543 0-.1413.0775-.2296.2326-.2649.3876-.0707.6906-.1343.9091-.1908.2185-.0636.3805-.1519.4863-.2649.1057-.113.1867-.2755.2431-.4874.0564-.219.1233-.5192.2008-.9006.0282-.1484.1128-.2226.2538-.2226.1409 0 .229.0742.2642.2226.0705.3814.1339.6781.1903.89.0634.2119.148.3744.2537.4874.1057.106.2643.1908.4757.2543.2185.0636.5251.1342.9197.212.1551.0353.2326.1236.2326.2649 0 .1342-.0775.2189-.2326.2543-.5285.0988-.9056.1907-1.1311.2754-.2185.0848-.37.2402-.4546.4663-.0775.226-.1621.5969-.2537 1.1125-.0282.1484-.1163.2226-.2642.2226zm12.9973 9.0951c-.162 0-.2642-.0883-.3065-.2649-.0916-.5157-.1762-.9183-.2537-1.2079-.0705-.2897-.1797-.5122-.3277-.6676-.148-.1483-.37-.2684-.666-.3602-.296-.0848-.7189-.1802-1.2686-.2861-.1832-.0424-.2748-.1448-.2748-.3073 0-.1696.0916-.2685.2748-.2967.5497-.0989.9691-.1943 1.258-.2861.296-.0848.5145-.2049.6554-.3603.148-.1483.2608-.3708.3383-.6675.0775-.2896.1656-.6923.2643-1.2079.0423-.1837.1445-.2755.3065-.2755.1621 0 .2573.0918.2855.2755.1057.5156.1938.9183.2642 1.2079.0776.2896.1903.5086.3383.6569.148.1484.37.2685.666.3603.303.0918.7259.1907 1.2685.2967.1762.0353.2643.1342.2643.2967s-.0916.2649-.2748.3073c-.5427.0989-.9655.1907-1.2686.2755-.296.0847-.518.2013-.666.3496-.1479.1554-.2607.3779-.3382.6676-.0776.2967-.1621.7028-.2537 1.2185-.0282.1837-.1234.2755-.2855.2755z"
        ></path>
        <path
          d="m19.9061 26.4118c-.186 0-.3393-.068-.4602-.2039-.1208-.1359-.1813-.3181-.1813-.5466v-6.6066c0-.2285.0605-.4092.1813-.542.1209-.1359.2742-.2039.4602-.2039.0991 0 .1936.017.2835.051.0929.034.1921.0803.2975.139l5.4799 3.1643c.2014.1142.3455.2223.4322.3243.0868.1019.1302.2254.1302.3706s-.0434.2687-.1302.3706c-.0867.1019-.2308.2116-.4322.329l-5.4799 3.1596c-.1054.0618-.2046.1096-.2975.1436-.0899.034-.1844.051-.2835.051z"
        ></path>
      </g>
    </symbol>

    <symbol
      id="desktopcomputer"
      fill="none"
      height="44"
      viewBox="0 0 44 44"
      width="44"
    >
      <path
        d="m13.0566 28.8145c-.7236 0-1.2926-.2041-1.707-.6124-.4082-.4143-.6123-.9864-.6123-1.7163v-11.1699c0-.7298.2041-1.2988.6123-1.707.4144-.4082.9834-.6123 1.707-.6123h17.8868c.7236 0 1.2895.2041 1.6977.6123.4144.4082.6216.9772.6216 1.707v11.1699c0 .7299-.2072 1.302-.6216 1.7163-.4082.4083-.9741.6124-1.6977.6124zm-.1484-4.2955h18.1743c.266 0 .3989-.1298.3989-.3896v-8.7022c0-.2041-.0587-.3618-.1762-.4731-.1175-.1175-.2722-.1763-.4639-.1763h-17.6826c-.1917 0-.3464.0588-.4639.1763-.1175.1113-.1762.269-.1762.4731v8.7022c0 .2598.1298.3896.3896.3896zm6.0674 6.4107v-2.3101h6.0488v2.3101zm-.0464 1.2432c-.235 0-.436-.0835-.603-.2505-.1608-.167-.2412-.3649-.2412-.5938 0-.235.0804-.436.2412-.603.167-.1608.368-.2412.603-.2412h6.1416c.235 0 .4329.0804.5938.2412.1608.167.2412.368.2412.603 0 .2289-.0804.4268-.2412.5938-.1609.167-.3588.2505-.5938.2505z"
        fill="currentColor"></path>
    </symbol>

    <symbol
      id="textformat.size"
      fill="none"
      height="44"
      viewBox="0 0 44 44"
      width="44"
    >
      <path
        d="m22.3247 29.2598c-.3216 0-.5752-.0866-.7607-.2598-.1794-.1732-.2691-.4144-.2691-.7236 0-.1856.0402-.399.1206-.6402l4.1284-11.1328c.2722-.7731.8103-1.1596 1.6143-1.1596.4268 0 .7731.0958 1.0391.2875.2721.1918.4793.4825.6215.8721l4.1006 11.0864c.0866.2413.1299.4639.1299.668 0 .3093-.0989.5536-.2969.7329-.1917.1794-.4515.2691-.7793.2691-.3092 0-.5535-.0712-.7329-.2134-.1731-.1361-.3092-.3711-.4082-.7051l-1.0298-2.876h-5.2973l-1.0298 2.876c-.099.334-.2381.569-.4175.7051-.1732.1422-.4175.2134-.7329.2134zm2.7183-5.5201h4.2397l-2.0967-6.0302h-.0464zm-13.146 5.5015c-.2907 0-.5227-.0804-.6958-.2412-.167-.1546-.2505-.3711-.2505-.6494 0-.099.0093-.2072.0278-.3247.0248-.1175.0588-.232.1021-.3433l2.8017-7.5146c.1423-.3711.3309-.6433.5659-.8164.2351-.1794.5227-.2691.8628-.2691.3588 0 .6587.0897.8999.2691.2412.1793.4299.4515.566.8164l2.8017 7.5146c.0495.1237.0866.2412.1113.3526.0248.1051.0372.2102.0372.3154 0 .2659-.0897.4824-.2691.6494-.1732.1608-.402.2412-.6865.2412-.2474 0-.4515-.0649-.6123-.1948-.1546-.1237-.2752-.334-.3618-.6309l-.668-1.9946h-3.6089l-.6587 1.9853c-.0928.2907-.2165.501-.3711.6309-.1484.1361-.3463.2041-.5937.2041zm2.0781-4.2768h2.6997l-1.2617-3.8687h-.1948z"
        fill="currentColor"></path>
    </symbol>

    <symbol id="safari" fill="none" height="44" viewBox="0 0 44 44" width="44">
      <path
        d="m21.9907 31.8853c-1.3112 0-2.5451-.2505-3.7016-.7515-1.1566-.4948-2.1771-1.1844-3.0616-2.0689-.8782-.8844-1.5678-1.9049-2.0688-3.0615s-.7515-2.3904-.7515-3.7016.2505-2.5451.7515-3.7017 1.1906-2.174 2.0688-3.0522c.8845-.8845 1.9019-1.5772 3.0523-2.0782 1.1566-.5009 2.3904-.7514 3.7016-.7514 1.3174 0 2.5544.2505 3.711.7514 1.1566.501 2.1771 1.1937 3.0615 2.0782.8844.8782 1.5772 1.8956 2.0781 3.0522.501 1.1566.7515 2.3905.7515 3.7017s-.2505 2.545-.7515 3.7016c-.5009 1.1566-1.1937 2.1771-2.0781 3.0615-.8844.8845-1.9049 1.5741-3.0615 2.0689-1.1566.501-2.3905.7515-3.7017.7515zm0-1.8926c1.07 0 2.0689-.1979 2.9966-.5938.9277-.3958 1.7441-.9463 2.4492-1.6513.7051-.7051 1.2556-1.5215 1.6514-2.4493.3958-.9277.5937-1.9266.5937-2.9965 0-1.0638-.1979-2.0596-.5937-2.9873-.3958-.934-.9463-1.7535-1.6514-2.4585-.7051-.7051-1.5246-1.2556-2.4585-1.6514-.9277-.3958-1.9266-.5938-2.9966-.5938-1.0638 0-2.0626.198-2.9965.5938-.9278.3958-1.7411.9463-2.44 1.6514-.6989.705-1.2462 1.5245-1.6421 2.4585-.3958.9277-.5937 1.9235-.5937 2.9873 0 1.0699.1979 2.0688.5937 2.9965.3959.9278.9432 1.7442 1.6421 2.4493.7051.705 1.5215 1.2555 2.4492 1.6513.934.3959 1.9328.5938 2.9966.5938zm-3.7573-3.0894c-.2227.1052-.4175.1268-.5845.065-.1608-.0619-.2721-.1763-.334-.3433-.0618-.167-.0402-.3587.065-.5752l2.4678-5.2231c.1546-.3155.3803-.5412.6772-.6773l5.1953-2.4585c.3464-.1608.6154-.1422.8071.0557.198.1979.2165.4638.0557.7978l-2.4585 5.2139c-.1484.3031-.3742.5257-.6772.668zm3.7573-3.414c.3216 0 .5969-.1145.8257-.3433.235-.235.3525-.5164.3525-.8442 0-.3217-.1175-.5969-.3525-.8257-.2288-.2289-.5041-.3433-.8257-.3433-.3278 0-.6061.1144-.8349.3433-.2289.2288-.3433.504-.3433.8257 0 .3278.1144.6092.3433.8442.2288.2288.5071.3433.8349.3433z"
        fill="currentColor"></path>
    </symbol>
  </svg>
</Layout>
