---
import BaseHeadMeta from '../../components/BaseHeadMeta.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHeadMeta
      title="Enhanced YouTube Safari Extension for visionOS"
      description="Improve YouTube's user experience and interface on Apple Vision Pro."
      image="/enhanced-youtube/GraphImage.png"
      twitterCardType="summary_large_image"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/enhanced-youtube/Icon16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/enhanced-youtube/Icon32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="256x256"
      href="/enhanced-youtube/Icon256.png"
    />

    <style>
      html {
        font-family: system-ui;
        background: #0f1112;
        color: #fff;
        min-height: 100vh;
      }

      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      a {
        color: inherit;
      }

      body {
        --colum-width: 50%;
        align-items: center;
        display: flex;
        margin: 0;
        min-height: 100vh;
      }

      .Leading {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4.375rem;
        gap: 4.375rem;
      }

      .Leading,
      .Trailing {
        width: var(--colum-width);
        min-height: 100%;
      }

      .Logo {
      }

      .Download {
      }

      .Footer {
        font-size: 0.875rem;
        color: rgba(255, 255, 255, 0.5);
      }

      .Trailing {
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      @media screen and (max-width: 760px) {
        body {
          --colum-width: auto;
          flex-direction: column;
        }

        .Trailing {
          padding: 0 2rem 2rem 2rem;
          align-self: flex-start;
          width: 100%;
        }

        .Trailing img {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="Leading">
      <svg
        aria-label="Enhanced YouTube Safari Extension"
        class="Logo"
        fill="none"
        height="208"
        role="img"
        viewBox="0 0 276 208"
        width="276"
        xmlns="http://www.w3.org/2000/svg"
        ><filter
          id="a"
          color-interpolation-filters="sRGB"
          filterUnits="userSpaceOnUse"
          height="112.5"
          width="112.5"
          x="81.75"
          y="7.75"
          ><feFlood flood-opacity="0" result="BackgroundImageFix"
          ></feFlood><feGaussianBlur in="BackgroundImageFix" stdDeviation="6.25"
          ></feGaussianBlur><feComposite
            in2="SourceAlpha"
            operator="in"
            result="effect1_backgroundBlur_318_196"></feComposite><feBlend
            in="SourceGraphic"
            in2="effect1_backgroundBlur_318_196"
            mode="normal"
            result="shape"></feBlend></filter
        ><linearGradient
          id="b"
          gradientUnits="userSpaceOnUse"
          x1="65.9412"
          x2="75.2922"
          y1="27.9863"
          y2="114.507"
          ><stop offset="0" stop-color="#fff" stop-opacity=".4"></stop><stop
            offset=".368352"
            stop-color="#fff"
            stop-opacity=".01"></stop><stop
            offset=".574372"
            stop-color="#fff"
            stop-opacity=".01"></stop><stop
            offset="1"
            stop-color="#fff"
            stop-opacity=".1"></stop></linearGradient
        ><clipPath id="c"
          ><rect height="128" rx="64" width="128" x="74"></rect></clipPath
        ><path
          d="m57.582 206.293c-4.0195 0-6.6093-1.84-6.8086-4.957l-.0117-.188h3.3399l.0234.129c.2227 1.313 1.6172 2.133 3.5508 2.133 1.957 0 3.1875-.855 3.1875-2.144v-.012c0-1.149-.8321-1.723-2.9297-2.156l-1.7813-.352c-3.3398-.668-5.0273-2.262-5.0273-4.805v-.011c0-3.094 2.6953-5.133 6.4453-5.133 3.9141 0 6.3164 1.957 6.4805 4.922l.0117.222h-3.3398l-.0118-.14c-.1757-1.324-1.3945-2.133-3.1406-2.133-1.8164.012-2.9062.844-2.9062 2.051v.011c0 1.067.8671 1.688 2.8125 2.075l1.7929.363c3.5391.703 5.1328 2.144 5.1328 4.805v.011c0 3.246-2.5546 5.309-6.8203 5.309zm12.4336-.094c-2.5195 0-4.2187-1.582-4.2187-3.797v-.023c0-2.285 1.7695-3.621 4.8867-3.82l3.1055-.188v-.773c0-1.114-.7266-1.805-2.0625-1.805-1.2774 0-2.0508.598-2.2149 1.406l-.0234.106h-3.1289l.0117-.141c.1875-2.32 2.1797-3.984 5.4961-3.984 3.2461 0 5.3437 1.675 5.3437 4.207v8.613h-3.4218v-1.875h-.0703c-.7149 1.289-2.0508 2.074-3.7032 2.074zm-.832-3.972c0 .925.7617 1.476 1.9453 1.476 1.5352 0 2.6602-.984 2.6602-2.297v-.902l-2.5899.164c-1.3242.082-2.0156.644-2.0156 1.535zm11.1562 3.773v-9.984h-1.7109v-2.578h1.7109v-1.008c0-2.461 1.1719-3.598 4.1368-3.598.6328 0 1.3242.059 1.7226.141v2.261c-.2344-.046-.5625-.058-.8789-.058-1.1367 0-1.6406.48-1.6406 1.383v.879h2.4961v2.578h-2.4141v9.984zm10.7227.199c-2.5195 0-4.2187-1.582-4.2187-3.797v-.023c0-2.285 1.7695-3.621 4.8867-3.82l3.1054-.188v-.773c0-1.114-.7265-1.805-2.0625-1.805-1.2773 0-2.0507.598-2.2148 1.406l-.0234.106h-3.129l.0118-.141c.1875-2.32 2.1797-3.984 5.4961-3.984 3.2461 0 5.3437 1.675 5.3437 4.207v8.613h-3.4219v-1.875h-.0703c-.7148 1.289-2.0508 2.074-3.7031 2.074zm-.832-3.972c0 .925.7617 1.476 1.9453 1.476 1.5351 0 2.6601-.984 2.6601-2.297v-.902l-2.5898.164c-1.3242.082-2.0156.644-2.0156 1.535zm10.2425 3.773v-12.562h3.422v2.191h.07c.375-1.547 1.394-2.449 2.859-2.449.375 0 .727.058.985.129v3.011c-.282-.117-.75-.187-1.243-.187-1.687 0-2.671 1.008-2.671 2.836v7.031zm10.523-14.18c-1.031 0-1.828-.808-1.828-1.781s.797-1.781 1.828-1.781 1.828.808 1.828 1.781-.797 1.781-1.828 1.781zm-1.711 14.18v-12.562h3.422v12.562zm10.77 0v-16.91h11.203v2.918h-7.664v4.054h7.23v2.766h-7.23v4.254h7.664v2.918zm12.609 0 3.938-6.258-3.914-6.304h3.855l2.262 4.242h.07l2.227-4.242h3.726l-3.926 6.21 3.891 6.352h-3.715l-2.39-4.359h-.071l-2.355 4.359zm18.527.258c-2.789 0-4.101-1.078-4.101-3.774v-6.468h-1.746v-2.578h1.746v-3.071h3.457v3.071h2.297v2.578h-2.297v6.093c0 1.172.527 1.571 1.558 1.571.305 0 .528-.035.739-.059v2.508c-.387.059-.938.129-1.653.129zm9.071 0c-3.844 0-6.176-2.496-6.176-6.516v-.012c0-3.996 2.355-6.55 6.035-6.55s5.988 2.496 5.988 6.293v1.054h-8.648c.035 2.004 1.125 3.176 2.871 3.176 1.406 0 2.262-.773 2.508-1.476l.023-.071h3.141l-.035.129c-.387 1.852-2.121 3.973-5.707 3.973zm-.082-10.524c-1.407 0-2.461.938-2.684 2.637h5.332c-.211-1.734-1.23-2.637-2.648-2.637zm7.699 10.266v-12.562h3.422v2.062h.07c.645-1.441 1.934-2.32 3.832-2.32 2.766 0 4.336 1.769 4.336 4.711v8.109h-3.422v-7.406c0-1.641-.773-2.578-2.308-2.578-1.536 0-2.508 1.125-2.508 2.765v7.219zm18.996.258c-3.48 0-5.414-1.606-5.684-3.985l-.011-.105h3.34l.023.105c.223.985.961 1.559 2.332 1.559 1.289 0 2.074-.504 2.074-1.312v-.012c0-.668-.422-1.055-1.652-1.324l-2.133-.446c-2.437-.515-3.668-1.734-3.668-3.609v-.012c0-2.39 2.063-3.937 5.262-3.937 3.34 0 5.203 1.769 5.285 3.972v.118h-3.152l-.012-.094c-.117-.903-.856-1.582-2.121-1.582-1.184 0-1.922.527-1.922 1.336v.011c0 .645.434 1.067 1.699 1.336l2.133.457c2.625.551 3.703 1.582 3.703 3.434v.012c0 2.461-2.262 4.078-5.496 4.078zm8.965-14.438c-1.031 0-1.828-.808-1.828-1.781s.797-1.781 1.828-1.781 1.828.808 1.828 1.781-.797 1.781-1.828 1.781zm-1.711 14.18v-12.562h3.422v12.562zm11.484.258c-3.82 0-6.222-2.449-6.222-6.539v-.024c0-4.043 2.461-6.515 6.211-6.515 3.761 0 6.234 2.449 6.234 6.515v.024c0 4.101-2.426 6.539-6.223 6.539zm.012-2.684c1.664 0 2.73-1.406 2.73-3.855v-.024c0-2.425-1.089-3.832-2.753-3.832-1.653 0-2.731 1.407-2.731 3.832v.024c0 2.461 1.067 3.855 2.754 3.855zm7.98 2.426v-12.562h3.422v2.062h.071c.644-1.441 1.933-2.32 3.832-2.32 2.765 0 4.336 1.769 4.336 4.711v8.109h-3.422v-7.406c0-1.641-.774-2.578-2.309-2.578s-2.508 1.125-2.508 2.765v7.219z"
          fill="#fff"></path><path
          d="m1.46484 175v-21.138h14.91216v4.922h-8.70122v3.369h8.15922v4.571h-8.15922v3.354h8.70122v4.922zm17.47556 0v-16.172h6.0059v3.003h.1172c.791-2.183 2.4463-3.354 4.8926-3.354 3.5595 0 5.5517 2.255 5.5517 6.137v10.386h-6.0058v-9.067c0-1.626-.7618-2.622-2.2706-2.622-1.4209 0-2.2851 1.098-2.2851 2.607v9.082zm18.8233 0v-21.138h6.0058v7.969h.1172c.791-2.183 2.4463-3.354 4.8926-3.354 3.5596 0 5.5518 2.255 5.5518 6.137v10.386h-6.0059v-9.067c0-1.626-.7617-2.622-2.2705-2.622-1.4209 0-2.2852 1.098-2.2852 2.607v9.082zm23.7158.205c-3.2666 0-5.4932-2.109-5.4932-4.893v-.014c0-3.12 2.4024-4.834 6.709-5.127l3.3985-.22v-.659c0-.938-.6006-1.523-1.8311-1.523s-1.9189.542-2.0508 1.201l-.0293.146h-5.3613l.0146-.19c.2491-3.296 3.0469-5.449 7.7637-5.449 4.4971 0 7.5 2.241 7.5 5.522v11.001h-6.0058v-2.197h-.1172c-.9082 1.538-2.417 2.402-4.4971 2.402zm.3662-5.332c0 .85.7178 1.304 1.8311 1.304 1.4355 0 2.417-.791 2.417-1.861v-1.025l-2.4024.176c-1.2744.088-1.8457.586-1.8457 1.391zm12.5244 5.127v-16.172h6.0059v3.003h.1172c.791-2.183 2.4463-3.354 4.8925-3.354 3.5596 0 5.5518 2.255 5.5518 6.137v10.386h-6.0059v-9.067c0-1.626-.7617-2.622-2.2705-2.622-1.4209 0-2.2851 1.098-2.2851 2.607v9.082zm26.7769.352c-5.2437 0-8.437-3.164-8.437-8.453v-.014c0-5.244 3.208-8.408 8.394-8.408 4.716 0 7.895 2.739 7.895 6.914v.088h-5.464l-.014-.147c-.147-1.465-1.011-2.402-2.3-2.402-1.553 0-2.4173 1.421-2.4173 3.969v.015c0 2.593.8203 3.984 2.4173 3.984 1.347 0 2.153-.922 2.3-2.402l.014-.146h5.464v.088c0 3.955-2.9 6.914-7.852 6.914zm17.666 0c-5.244 0-8.437-3.179-8.437-8.438v-.015c0-5.258 3.193-8.422 8.247-8.422 5.039 0 8.262 3.164 8.262 8.085v1.7h-10.65c.059 1.86 1.055 2.959 2.696 2.959 1.582 0 2.358-.952 2.519-1.421l.015-.044h5.347l-.044.19c-.484 2.11-2.33 5.406-7.955 5.406zm-.029-12.745c-1.304 0-2.212.821-2.475 2.256h4.951c-.264-1.435-1.172-2.256-2.476-2.256zm15.835 12.745c-4.014 0-6.313-3.047-6.313-8.438v-.015c0-5.42 2.27-8.422 6.342-8.422 2.315 0 4.043 1.215 4.805 3.266h.117v-7.881h6.006v21.138h-6.006v-2.769h-.117c-.732 1.949-2.49 3.121-4.834 3.121zm2.359-4.834c1.582 0 2.592-1.333 2.592-3.589v-.015c0-2.27-1.025-3.603-2.592-3.603-1.553 0-2.579 1.333-2.579 3.588v.015c0 2.227 1.011 3.604 2.579 3.604zm23.115 4.482v-6.694l-7.222-14.444h6.563l3.706 8.57h.117l3.706-8.57h6.562l-7.221 14.444v6.694zm19.424.352c-5.303 0-8.496-3.047-8.496-8.423v-.03c0-5.273 3.31-8.422 8.496-8.422 5.2 0 8.51 3.105 8.51 8.422v.03c0 5.39-3.222 8.423-8.51 8.423zm.014-4.454c1.494 0 2.403-1.42 2.403-3.969v-.03c0-2.504-.953-3.969-2.417-3.969-1.48 0-2.403 1.465-2.403 3.969v.03c0 2.563.894 3.969 2.417 3.969zm15.835 4.454c-3.559 0-5.552-2.256-5.552-6.138v-10.386h6.006v9.068c0 1.625.762 2.622 2.271 2.622 1.421 0 2.285-1.099 2.285-2.608v-9.082h6.006v16.172h-6.006v-3.003h-.117c-.791 2.183-2.447 3.355-4.893 3.355zm20.801 0c-4.189 0-6.079-1.436-6.079-5.245v-6.943h-2.139v-4.336h2.139v-3.545h6.006v3.545h2.842v4.336h-2.842v6.021c0 1.303.586 1.831 1.816 1.831.454 0 .703-.03 1.026-.074v4.19c-.645.117-1.495.22-2.769.22zm10.225 0c-3.56 0-5.552-2.256-5.552-6.138v-10.386h6.006v9.068c0 1.625.761 2.622 2.27 2.622 1.421 0 2.285-1.099 2.285-2.608v-9.082h6.006v16.172h-6.006v-3.003h-.117c-.791 2.183-2.446 3.355-4.892 3.355zm24.301 0c-2.343 0-4.101-1.172-4.834-3.121h-.117v2.769h-6.006v-21.138h6.006v7.881h.117c.762-2.051 2.491-3.266 4.805-3.266 4.072 0 6.343 3.002 6.343 8.422v.015c0 5.391-2.3 8.438-6.314 8.438zm-2.358-4.834c1.567 0 2.578-1.377 2.578-3.604v-.015c0-2.255-1.025-3.588-2.578-3.588-1.567 0-2.593 1.333-2.593 3.603v.015c0 2.256 1.011 3.589 2.593 3.589zm18.545 4.834c-5.244 0-8.438-3.179-8.438-8.438v-.015c0-5.258 3.194-8.422 8.247-8.422 5.04 0 8.262 3.164 8.262 8.085v1.7h-10.649c.058 1.86 1.054 2.959 2.695 2.959 1.582 0 2.358-.952 2.52-1.421l.014-.044h5.347l-.044.19c-.483 2.11-2.329 5.406-7.954 5.406zm-.029-12.745c-1.304 0-2.212.821-2.476 2.256h4.951c-.264-1.435-1.172-2.256-2.475-2.256z"
          fill="#fff"></path><g clip-path="url(#c)"
          ><path d="m74 0h128v128h-128z" fill="#ff2500"></path><rect
            fill="#cd1f01"
            height="87.5"
            rx="43.75"
            width="87.5"
            x="94.25"
            y="20.25"></rect><g filter="url(#a)"
            ><rect
              fill="#808080"
              fill-opacity=".3"
              height="87.5"
              rx="43.75"
              width="87.5"
              x="94.25"
              y="20.25"></rect><rect
              height="85"
              rx="42.5"
              stroke="url(#b)"
              stroke-width="2.5"
              width="85"
              x="95.5"
              y="21.5"></rect></g
          ><g fill="#fff"
            ><path
              d="m160.266 43.5217c-.252 0-.472-.0838-.661-.2516-.189-.1888-.294-.4194-.315-.6921-.252-1.8035-.504-3.2086-.756-4.2152-.23-1.0277-.619-1.7931-1.164-2.2964-.525-.5243-1.333-.9333-2.424-1.2269-1.07-.2936-2.55-.6291-4.439-1.0066-.608-.0839-.912-.4194-.912-1.0066 0-.2727.084-.5033.251-.6921.189-.1887.41-.2936.661-.3146 1.889-.2726 3.369-.5347 4.439-.7864 1.091-.2516 1.899-.6396 2.424-1.1639.545-.5453.934-1.3422 1.164-2.3908.252-1.0695.504-2.527.756-4.3725.042-.6292.367-.9437.976-.9437.65 0 .997.325 1.039.9751.23 1.8246.472 3.2401.724 4.2468.251 1.0066.65 1.7721 1.196 2.2963.545.5034 1.353.9018 2.424 1.1954 1.07.2727 2.549.5872 4.438.9437.609.0839.913.4195.913 1.0067s-.346.9227-1.039 1.0066c-1.868.2936-3.337.5872-4.407.8808-1.049.2726-1.847.6711-2.392 1.1954-.525.5243-.913 1.3002-1.165 2.3278-.231 1.0276-.462 2.4537-.692 4.2782-.042.6711-.389 1.0066-1.039 1.0066zm-54.346 16.5695c-.42 0-.672-.2202-.756-.6606-.21-1.1325-.399-2.0238-.566-2.6739-.168-.6501-.42-1.1324-.756-1.447-.315-.3146-.797-.5662-1.448-.755-.65-.1887-1.553-.3984-2.7071-.6291-.4617-.1049-.6925-.3565-.6925-.755 0-.4194.2308-.6816.6925-.7864 1.1541-.2097 2.0571-.3985 2.7071-.5663.651-.1887 1.133-.4509 1.448-.7864s.556-.8179.724-1.447c.168-.6501.367-1.5414.598-2.6739.084-.4404.336-.6606.756-.6606.419 0 .682.2202.787.6606.209 1.1325.398 2.0133.566 2.6424.189.6292.441 1.1115.756 1.447.315.3146.787.5663 1.416.755.651.1888 1.564.3985 2.739.6292.462.1048.692.367.692.7864 0 .3985-.23.6501-.692.755-1.574.2936-2.697.5662-3.368.8179-.651.2516-1.102.713-1.354 1.3841-.231.6711-.483 1.7721-.755 3.303-.084.4404-.347.6606-.787.6606zm45.303 50.2838c-.482 0-.787-.262-.913-.786-.272-1.531-.524-2.727-.755-3.587-.21-.859-.535-1.52-.976-1.981-.441-.441-1.102-.797-1.983-1.07-.882-.252-2.141-.535-3.778-.849-.545-.126-.818-.43-.818-.913 0-.503.273-.796.818-.88 1.637-.294 2.886-.577 3.746-.8497.882-.2516 1.532-.6081 1.952-1.0695.441-.4404.777-1.101 1.007-1.9818.231-.8599.494-2.0552.787-3.5862.126-.5452.431-.8178.913-.8178.483 0 .766.2726.85.8178.315 1.531.577 2.7263.787 3.5862.231.8598.567 1.5099 1.007 1.9503.441.4404 1.102.7969 1.984 1.0696.902.2726 2.161.5662 3.777.8811.525.105.787.398.787.88 0 .483-.273.787-.818.913-1.616.293-2.876.566-3.778.818-.881.251-1.542.597-1.983 1.038-.441.461-.777 1.122-1.007 1.982-.231.88-.483 2.086-.756 3.617-.084.545-.367.818-.85.818z"
            ></path><path
              d="m130.899 78.375c-.659 0-1.203-.24-1.631-.7201-.429-.4801-.643-1.1239-.643-1.9313v-23.3386c0-.8074.214-1.4457.643-1.9149.428-.4801.972-.7201 1.631-.7201.351 0 .686.06 1.004.18.33.1201.681.2837 1.055.491l19.424 11.1783c.713.4037 1.224.7856 1.532 1.1457.307.3601.461.7965.461 1.3093s-.154.9493-.461 1.3093c-.308.3601-.819.7474-1.532 1.1621l-19.424 11.1619c-.374.2182-.725.3873-1.055.5074-.318.12-.653.18-1.004.18z"
            ></path></g
          ></g
        ></svg
      >
      <a
        aria-label="Download on the App Store"
        href="https://apps.apple.com/us/app/enhanced-youtube/id6477453560"
        class="Download"
      >
        <svg
          fill="none"
          height="53"
          viewBox="0 0 159 53"
          width="159"
          xmlns="http://www.w3.org/2000/svg"
          ><clipPath id="d"><path d="m0 0h159v53h-159z"></path></clipPath><g
            clip-path="url(#d)"
            ><path
              d="m146.338.00017225h-133.6691c-.4872 0-.9686 0-1.4546.00265-.4068.00265-.8103.01034825-1.221.01682755-.89222.0104698-1.78234.0887432-2.66262.2341412-.87905.148562-1.73056.428645-2.52574.830779-.7942.40553-1.51989.93247-2.15073 1.56172-.63415.62748-1.16277 1.35275-1.56552 2.14794-.403868.79361-.683908 1.64404-.830453 2.5219-.147939.87676-.2275457 1.76363-.2381069 2.65265-.01233052.40622-.01363266.81382-.0201301 1.22012v30.6264c.00649744.4114.00779958.81.0201301 1.2215.0105644.889.0901719 1.7758.2381069 2.6526.14614.8783.426197 1.7292.830453 2.5232.40257.7926.93126 1.5149 1.56552 2.1389.62845.632 1.35461 1.1593 2.15073 1.5618.79517.4032 1.64659.6849 2.52574.8358.88043.1442 1.77046.2225 2.66262.2342.4107.0091.8142.0142 1.221.0142.486.0027.9674.0027 1.4546.0027h133.6691c.478 0 .963 0 1.441-.0027.404 0 .82-.0051 1.225-.0142.89-.0111 1.778-.0894 2.657-.2342.882-.1519 1.736-.4336 2.535-.8358.796-.4027 1.521-.93 2.149-1.5618.633-.6264 1.163-1.3482 1.57-2.1389.401-.7945.679-1.6454.823-2.5232.148-.8769.23-1.7635.246-2.6526.006-.4115.006-.8101.006-1.2215.01-.4814.01-.9601.01-1.4493v-27.7305c0-.4852 0-.9665-.01-1.4466 0-.4063 0-.8139-.006-1.22017-.016-.8891-.098-1.77577-.246-2.65265-.145-.87736-.422-1.72772-.823-2.5219-.82-1.59387-2.121-2.89127-3.719-3.70973-.799-.401151-1.653-.681159-2.535-.830779-.879-.146038-1.767-.2243385-2.657-.2342067-.405-.006466-.821-.01423055-1.225-.0168143-.478-.00265-.963-.00247775-1.441-.00247775z"
              fill="#a6a6a6"></path><path
              d="m11.2209 51.8406c-.4049 0-.7999-.0051-1.2016-.0141-.83206-.0109-1.66218-.0831-2.48355-.2162-.76589-.1315-1.50783-.3762-2.20134-.7259-.68716-.3469-1.31391-.8017-1.85622-1.347-.55017-.5389-1.00822-1.164-1.35598-1.8504-.35159-.6908-.59491-1.4314-.72149-2.1958-.13669-.8213-.21065-1.6518-.22123-2.4843-.00843-.2795-.01946-1.2099-.01946-1.2099v-30.6082s.01175-.9162.01952-1.1853c.01014-.83121.08366-1.66043.21995-2.4805.12681-.76649.37032-1.50915.7221-2.20229.34649-.68593.80198-1.31144 1.34884-1.85228.54624-.54598 1.17499-1.00313 1.86332-1.35477.69192-.34863 1.43245-.59159 2.19679-.72072.82407-.1344 1.65708-.20707 2.49205-.21738l1.1989-.01618h136.5505l1.213.01683c.828.0098 1.653.08181 2.47.21543.772.13076 1.52.3754 2.22.7259 1.379.70867 2.501 1.82985 3.209 3.20641.346.68834.586 1.42495.711 2.18481.138.82681.215 1.66255.231 2.50054.004.3753.004.7783.004 1.1795.01.4968.01.9698.01 1.4466v27.7305c0 .4813 0 .9511-.01 1.4246 0 .4309 0 .8256-.006 1.2319-.015.823-.091 1.6438-.227 2.4558-.124.77-.366 1.5163-.717 2.2128-.35.679-.806 1.2986-1.35 1.836-.542.5483-1.17 1.0058-1.859 1.3549-.698.3524-1.445.598-2.216.7284-.822.1338-1.652.2061-2.484.2162-.389.009-.797.0141-1.192.0141l-1.441.0027z"
              fill="#000"></path><g fill="#fff"
              ><path
                d="m32.9109 26.8984c.0143-1.1059.3088-2.1903.8563-3.1522s1.33-1.77 2.2749-2.3493c-.6003-.8548-1.3921-1.5583-2.3127-2.0546-.9205-.4963-1.9445-.7717-2.9905-.8043-2.2312-.2336-4.3943 1.3314-5.5313 1.3314-1.159 0-2.9096-1.3082-4.7947-1.2696-1.2193.0393-2.4076.3929-3.4492 1.0263-1.0415.6335-1.9008 1.5251-2.494 2.5882-2.5698 4.4366-.653 10.957 1.8086 14.5433 1.2316 1.7561 2.671 3.7177 4.5544 3.6481 1.843-.0762 2.5313-1.1719 4.756-1.1719 2.204 0 2.8498 1.1719 4.7714 1.1277 1.9777-.032 3.2237-1.7639 4.4121-3.5366.8849-1.2513 1.5658-2.6342 2.0175-4.0976-1.1489-.4846-2.1294-1.2957-2.8192-2.3323-.6898-1.0365-1.0583-2.2526-1.0596-3.4966z"
              ></path><path
                d="m29.2813 16.1794c1.0783-1.2908 1.6095-2.9499 1.4809-4.625-1.6474.1725-3.1691.9576-4.262 2.1989-.5343.6064-.9436 1.3119-1.2043 2.0761-.2608.7643-.3679 1.5722-.3154 2.3778.824.0084 1.6392-.1697 2.3842-.5209.7449-.3512 1.4003-.8665 1.9166-1.5069z"
              ></path><path
                d="m56.2078 35.96h-6.2894l-1.5103 4.4473h-2.664l5.9572-16.4538h2.7677l5.9572 16.4538h-2.7093zm-5.638-2.0522h4.9854l-2.4576-7.2176h-.0688z"
              ></path><path
                d="m73.2917 34.4099c0 3.7278-2.0008 6.1229-5.0203 6.1229-.7649.0399-1.5256-.1358-2.195-.507-.6694-.3711-1.2204-.9228-1.59-1.5918h-.0571v5.9418h-2.4693v-15.9647h2.3901v1.9953h.0455c.3866-.6658.9469-1.2146 1.6214-1.588.6745-.3735 1.4379-.5576 2.209-.5328 3.0531 0 5.0657 2.4068 5.0657 6.1243zm-2.538 0c0-2.4287-1.2587-4.0255-3.1791-4.0255-1.8867 0-3.1557 1.6304-3.1557 4.0255 0 2.4171 1.269 4.0358 3.1557 4.0358 1.9204 0 3.1791-1.5851 3.1791-4.0358z"
              ></path><path
                d="m86.5322 34.4099c0 3.7278-2.0008 6.1229-5.0203 6.1229-.7649.0399-1.5256-.1358-2.195-.507-.6694-.3711-1.2204-.9228-1.59-1.5918h-.0572v5.9418h-2.4693v-15.9647h2.3902v1.9953h.0454c.3866-.6658.9469-1.2146 1.6214-1.588s1.438-.5576 2.209-.5328c3.0533 0 5.0658 2.4068 5.0658 6.1243zm-2.538 0c0-2.4287-1.2587-4.0255-3.1791-4.0255-1.8867 0-3.1557 1.6304-3.1557 4.0255 0 2.4171 1.269 4.0358 3.1557 4.0358 1.9204 0 3.1791-1.5851 3.1791-4.0358z"
              ></path><path
                d="m95.2831 35.8229c.183 1.6316 1.7725 2.703 3.9446 2.703 2.0813 0 3.5783-1.0714 3.5783-2.5426 0-1.2772-.903-2.0419-3.0411-2.5659l-2.1384-.5137c-3.0298-.7298-4.4364-2.1428-4.4364-4.4357 0-2.8389 2.481-4.7889 6.0039-4.7889 3.487 0 5.877 1.95 5.957 4.7889h-2.493c-.149-1.642-1.51-2.6332-3.4991-2.6332-1.9892 0-3.3503 1.0029-3.3503 2.4624 0 1.1633.8694 1.8478 2.9961 2.3718l1.8183.4451c3.385.7984 4.792 2.1544 4.792 4.5611 0 3.0783-2.459 5.0063-6.3703 5.0063-3.6591 0-6.1297-1.8827-6.2893-4.8588z"
              ></path><path
                d="m110.744 25.5722v2.839h2.287v1.9499h-2.287v6.6134c0 1.0274.458 1.5061 1.463 1.5061.272-.0047.543-.0237.813-.0569v1.9383c-.453.0842-.912.1224-1.372.1139-2.435 0-3.385-.9123-3.385-3.2388v-6.876h-1.749v-1.9499h1.749v-2.839z"
              ></path><path
                d="m114.356 34.4099c0-3.7744 2.229-6.1462 5.706-6.1462 3.488 0 5.706 2.3717 5.706 6.1462 0 3.7848-2.207 6.1462-5.706 6.1462s-5.706-2.3614-5.706-6.1462zm8.896 0c0-2.5892-1.189-4.1173-3.19-4.1173s-3.19 1.5398-3.19 4.1173c0 2.5995 1.189 4.116 3.19 4.116s3.19-1.5165 3.19-4.116z"
              ></path><path
                d="m127.804 28.4112h2.355v2.0418h.057c.16-.6377.534-1.2013 1.061-1.596s1.174-.5965 1.833-.5714c.285-.001.568.0299.846.0919v2.3032c-.359-.1094-.734-.1597-1.109-.1488-.359-.0145-.717.0486-1.049.1849s-.63.3427-.875.6049c-.244.2622-.429.574-.541.9141s-.149.7004-.109 1.0561v7.1154h-2.469z"
              ></path><path
                d="m145.341 36.8839c-.332 2.1777-2.459 3.6722-5.18 3.6722-3.499 0-5.672-2.3381-5.672-6.0893 0-3.7628 2.184-6.2032 5.568-6.2032 3.329 0 5.422 2.28 5.422 5.9173v.8436h-8.497v.1488c-.039.4415.016.8863.163 1.3047.146.4185.38.8012.686 1.1225.306.3214.677.5742 1.089.7415.411.1674.854.2455 1.298.2292.584.0545 1.169-.0802 1.67-.3843.5-.304.889-.761 1.108-1.303zm-8.347-3.5803h6.014c.022-.397-.038-.7943-.177-1.1669s-.354-.7125-.631-.9984-.611-.5115-.979-.6629c-.369-.1513-.765-.225-1.164-.2165-.402-.0024-.8.0747-1.173.2267-.372.152-.71.376-.995.6591-.284.2831-.51.6196-.664.9901-.154.3706-.232.7678-.231 1.1688z"
              ></path><path
                d="m50.2604 11.5686c.5176-.0371 1.0371.0409 1.5209.2283s.9199.4796 1.2768.8554c.3568.3758.6256.8259.7869 1.3178.1614.4919.2112 1.0134.1459 1.5269 0 2.5258-1.3689 3.9777-3.7305 3.9777h-2.8638v-7.9061zm-1.6324 6.788h1.4948c.3699.022.7401-.0385 1.0837-.1771.3435-.1386.6517-.3519.9021-.6242.2505-.2724.4369-.597.5457-.9503.1087-.3533.1371-.7263.0831-1.0919.0501-.3641.0188-.7348-.0916-1.0855s-.2973-.6727-.5472-.9429-.5566-.4819-.8982-.6201c-.3416-.1381-.7096-.1991-1.0776-.1788h-1.4948z"
              ></path><path
                d="m55.3819 16.4888c-.0376-.3921.0073-.7877.132-1.1615.1247-.3737.3264-.7174.592-1.0088.2657-.2915.5895-.5244.9507-.6838.3612-.1593.7519-.2416 1.1469-.2416.3949 0 .7856.0823 1.1468.2416.3612.1594.685.3923.9507.6838.2657.2914.4673.6351.592 1.0088.1247.3738.1697.7694.132 1.1615.0384.3924-.0061.7886-.1304 1.1629-.1244.3744-.3259.7186-.5916 1.0107-.2658.292-.5898.5254-.9514.6851s-.7527.2422-1.1481.2422c-.3955 0-.7866-.0825-1.1482-.2422-.3615-.1597-.6856-.3931-.9513-.6851-.2658-.2921-.4673-.6363-.5917-1.0107-.1243-.3743-.1688-.7705-.1304-1.1629zm4.4286 0c0-1.2933-.5826-2.0496-1.6051-2.0496-1.0264 0-1.6038.7563-1.6038 2.0496 0 1.3036.5775 2.0541 1.6038 2.0541 1.0225 0 1.6051-.7557 1.6051-2.0541z"
              ></path><path
                d="m68.5263 19.4745h-1.2249l-1.2365-4.3942h-.0935l-1.2314 4.3942h-1.2132l-1.6492-5.9664h1.1976l1.0718 4.5527h.0883l1.2301-4.5527h1.1328l1.2301 4.5527h.0934l1.0666-4.5527h1.1808z"
              ></path><path
                d="m71.5562 13.5081h1.1366v.9479h.0883c.1497-.3405.4021-.6258.7222-.8164.32-.1905.6917-.2767 1.0632-.2466.2912-.0219.5835.0219.8553.128.2719.1062.5163.2719.7152.4851.1989.2131.3471.4681.4338.7461.0866.278.1094.5719.0667.8599v3.8624h-1.1808v-3.5667c0-.9588-.4178-1.4357-1.2911-1.4357-.1977-.0091-.395.0244-.5784.0984-.1835.0739-.3487.1866-.4844.3302s-.2386.3148-.3018.5018c-.0631.187-.085.3854-.0641.5816v3.4904h-1.1807z"
              ></path><path d="m78.519 11.179h1.1808v8.2955h-1.1808z"
              ></path><path
                d="m81.3412 16.4888c-.0376-.3922.0074-.7878.1321-1.1615.1248-.3738.3264-.7174.5921-1.0089s.5896-.5244.9508-.6838c.3612-.1593.7519-.2417 1.1469-.2417s.7857.0824 1.1469.2417c.3612.1594.6851.3923.9508.6838s.4674.6351.5921 1.0089c.1247.3737.1697.7693.1321 1.1615.0383.3925-.0062.7886-.1306 1.163-.1244.3743-.3259.7186-.5917 1.0106s-.5899.5254-.9514.6851c-.3616.1597-.7527.2422-1.1482.2422s-.7866-.0825-1.1482-.2422c-.3615-.1597-.6856-.3931-.9514-.6851s-.4673-.6363-.5917-1.0106c-.1244-.3744-.1689-.7705-.1306-1.163zm4.4286 0c0-1.2933-.5826-2.0496-1.6051-2.0496-1.0264 0-1.6037.7563-1.6037 2.0496 0 1.3036.5774 2.0541 1.6037 2.0541 1.0225 0 1.6051-.7557 1.6051-2.0541z"
              ></path><path
                d="m88.2281 17.7872c0-1.0739.802-1.6931 2.2254-1.7811l1.6207-.0931v-.515c0-.6302-.4179-.986-1.2249-.986-.6592 0-1.116.2413-1.247.6631h-1.1432c.1207-1.0248 1.0874-1.6821 2.4447-1.6821 1.5 0 2.346.7447 2.346 2.005v4.0765h-1.1367v-.8384h-.0934c-.1897.3007-.4559.5459-.7717.7105-.3157.1646-.6696.2427-1.0255.2262-.2511.0261-.505-.0006-.7452-.0784s-.4613-.2049-.6492-.3731-.3384-.3739-.4417-.6037c-.1034-.2297-.1573-.4785-.1583-.7304zm3.8461-.5098v-.4988l-1.4611.0932c-.824.055-1.1977.3344-1.1977.8604 0 .537.4671.8495 1.1095.8495.1882.019.3783.0001.559-.0557s.3484-.1472.4929-.2689c.1446-.1217.2631-.2712.3485-.4395.0855-.1683.1361-.352.1489-.5402z"
              ></path><path
                d="m94.8016 16.4888c0-1.8853.9719-3.0796 2.4836-3.0796.3739-.0172.745.0721 1.0699.2575.3249.1853.5902.4591.7649.7892h.0882v-3.2769h1.1808v8.2955h-1.1315v-.9426h-.0934c-.1882.3279-.4627.5982-.7939.7817s-.7064.2732-1.085.2592c-1.5221.0001-2.4836-1.1942-2.4836-3.084zm1.2198 0c0 1.2654.5982 2.0269 1.5986 2.0269.9952 0 1.6103-.7724 1.6103-2.0218 0-1.2434-.6215-2.0269-1.6103-2.0269-.994 0-1.5986.7666-1.5986 2.0218z"
              ></path><path
                d="m105.274 16.4888c-.037-.3921.008-.7877.133-1.1615.124-.3737.326-.7174.592-1.0088.265-.2915.589-.5244.95-.6838.361-.1593.752-.2416 1.147-.2416s.786.0823 1.147.2416c.361.1594.685.3923.951.6838.265.2914.467.6351.592 1.0088.124.3738.169.7694.132 1.1615.038.3924-.006.7886-.131 1.1629-.124.3744-.326.7186-.591 1.0107-.266.292-.59.5254-.952.6851-.361.1597-.753.2422-1.148.2422s-.787-.0825-1.148-.2422c-.362-.1597-.686-.3931-.951-.6851-.266-.2921-.468-.6363-.592-1.0107-.124-.3743-.169-.7705-.131-1.1629zm4.429 0c0-1.2933-.583-2.0496-1.605-2.0496-1.026 0-1.604.7563-1.604 2.0496 0 1.3036.578 2.0541 1.604 2.0541 1.022 0 1.605-.7557 1.605-2.0541z"
              ></path><path
                d="m112.502 13.5081h1.137v.9479h.088c.15-.3405.402-.6258.722-.8164.32-.1905.692-.2767 1.063-.2466.291-.0219.584.0219.856.128.271.1062.516.2719.715.4851.199.2131.347.4681.434.7461.086.278.109.5719.066.8599v3.8624h-1.181v-3.5667c0-.9588-.417-1.4357-1.291-1.4357-.197-.0091-.395.0244-.578.0984-.183.0739-.349.1866-.484.3302-.136.1436-.239.3148-.302.5018s-.085.3854-.064.5816v3.4904h-1.181z"
              ></path><path
                d="m124.255 12.0227v1.5126h1.297v.9918h-1.297v3.068c0 .625.259.8986.846.8986.151-.0005.301-.0095.451-.0271v.9808c-.212.0378-.427.0579-.643.0601-1.313 0-1.836-.4606-1.836-1.6109v-3.3695h-.95v-.9918h.95v-1.5126z"
              ></path><path
                d="m127.165 11.179h1.17v3.288h.093c.157-.3436.417-.6306.743-.8219.327-.1913.704-.2775 1.082-.2469.289-.0158.579.0325.848.1412.268.1087.51.2752.707.4876.196.2125.344.4656.431.7414.088.2758.113.5674.074.854v3.8521h-1.182v-3.5616c0-.953-.445-1.4356-1.279-1.4356-.203-.0166-.407.0112-.598.0815s-.365.1814-.508.3255c-.144.144-.254.3176-.323.5086s-.096.3947-.078.597v3.4846h-1.18z"
              ></path><path
                d="m139.198 17.8636c-.16.5452-.508 1.0169-.982 1.3325-.474.3155-1.044.4549-1.61.3936-.394.0104-.786-.0649-1.148-.2207-.362-.1557-.686-.3881-.949-.6811s-.459-.6396-.574-1.0157c-.115-.376-.147-.7726-.093-1.1621-.053-.3907-.02-.7881.095-1.1653s.309-.7254.571-1.021c.262-.2955.584-.5316.945-.6922s.752-.242 1.148-.2386c1.664 0 2.669 1.1342 2.669 3.0077v.4109h-4.225v.066c-.019.2189.009.4393.081.647s.186.3981.336.5591c.15.1609.332.2888.535.3754.202.0867.421.1302.641.1277.283.0339.569-.0169.822-.1457.254-.1288.463-.3298.602-.5776zm-4.153-1.9228h3.022c.015-.2003-.013-.4014-.08-.5905-.068-.1891-.175-.362-.313-.5076-.139-.1455-.307-.2605-.493-.3376s-.386-.1146-.587-.11c-.204-.0025-.407.0357-.596.1125s-.361.1905-.505.3346c-.145.144-.259.3154-.336.5041s-.115.3908-.112.5945z"
              ></path></g
            ></g
          ></svg
        ></a
      >
      <footer class="Footer">
        Made by <a href="/">Wes Souza</a> &middot; <a
          href="/enhanced-youtube/help">Help</a
        > &middot;
        <a href="/enhanced-youtube/privacy">Privacy</a>
      </footer>
    </div>
    <div class="Trailing">
      <img
        alt="Simulated screen capture of Safari on visionOS with youtube.com open. Video controls are similar to native visionOS user interface elements."
        srcset="/enhanced-youtube/Safari.avif 1x, /enhanced-youtube/Safari@2x.avif 2x"
      />
    </div>
  </body>
</html>
