---
import Layout from '../../components/enhanced-youtube/Layout.astro';
---

<Layout title="Privacy Policy">
  <h1>Enhanced YouTube Safari Extension Privacy Policy</h1>
  <p>
    This extension does not collect any personal information about you or your
    browsing on YouTube.
  </p>
  <p>The extension modifies YouTube utilizing heuristics on your device.</p>
  <p>
    We collect statistical information – the application version and your device
    visionOS version – when you install the extension, and when you use the
    extension.
  </p>
  <p>
    We might collect additional usage information to improve the extension in
    the future. That information will never be associated with you, your device
    or account.
  </p>
  <p>
    We utilize Plausible for analytics aggregation. You can learn more about
    their privacy-focused data storage practices on <a
      href="https://plausible.io/data-policy"
      target="_blank">their website</a
    >.
  </p>
  <p>This document might change in the future without notice.</p>
</Layout>
