// Content
.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	@include respond-equal(md) { width: $break-medium - 20px; }
	@include respond-equal(lg) { width: $break-large - 20px; }
}

// Default Content - White Background
%content, .content {
	padding: 40px 0;
	background-color: $white;
	color: $darkgray;
	font-size: em(16);
	text-align: center;
	
	h1, h2, h3 {
		font-size: em(30);
		font-weight: $bold;
		color: $black;
		margin: 0 0 20px 0;
		
		a {
			color: $black;
		}
	}

	h1 {
		font-weight: $normal;
	}
	
	h2 {
		font-size: em(24);
		
		@include respond-equal(sm) {
			font-size: em(18);
		}
	}
	
	h3 {
		font-size: em(20);
		
		@include respond-equal(sm) {
			font-size: em(14);
		}
	}
	
	input {
		color: $darkgray;
	}
	
	a {
		color: $darkgray;
	}
	
	@include respond-equal(sm) {
		padding: 20px 0;
		
		h1 {
			font-size: em(22);
		}
		
		h2 {
			font-size: em(16);
		}
	}
}

.content:not(.-hero):not(.content-alternate) + .content {
	padding-top: 0;
}

// Alternate Content
.content-alternate {
	@extend %content;
	
	border: 1px solid darken( $lightgray, 10 );
	border-width: 1px 0;
	background-color: $lightgray;
}

// Highlighted Content - Orange Background
.content-highlight-1, .content-highlight-2, .content-highlight-3 {
	@extend %content;
	
	color: $white;
	background-color: $darkgray;
	
	h1, h2, a {
		color: $white;
	}
	
	a {
		color: $white;
	}
	
	body & .input-text, body & a.btn, body & .btn {
		@extend %input-dark;
	}
	
	body & a.btn-primary, body & .btn-primary {
		@extend %input-dark;
		border-color: $black;
		background-color: $black;
	}
}

// Highlighted Content - Blue Background
.content-highlight-2 {
	background-color: $darkergray;
}

// Highlighted Content - Dark Blue Background
.content-highlight-3 {
}

.page-header {
	h1 {
		font-size: em(40);
	}
	
	@include respond-equal(sm) {
		h1 {
			font-size: em(25);
		}
	}
	
	@include respond-larger(md) {
		.tagline {
			margin-left: auto;
			margin-right: auto;
			width: 600px;
		}
	}
}

.box {
	$spacing: 20px;
	
	display: block;
	padding: $spacing $spacing 0;
	border: 1px solid $gray;
	border-radius: $border-radius;
	
	header, .box-content, footer {
		margin-bottom: $spacing;
	}
	
	h1, h2 {
		margin: 0 0 $spacing 0;
		font-size: em(14);
		font-weight: $bold;
		text-transform: uppercase;
	}
	
	h2 {
		font-size: em(12);
	}
	
	hr {
		margin-bottom: $spacing;
	}
	
	header {
		img {
			margin-bottom: $spacing;
		}
		
		h1 {
			margin-bottom: 0;
		}
		
		.tagline {
			margin-top: 0;
			font-size: em(12);
			font-weight: $bold;
			text-transform: uppercase;
		}
	}
	
	@include respond-equal(sm) {
		.box-wrapper & {
			padding: 0;
			border-width: 0 0 1px 0;
			border-radius: 0;
		}
		.box-wrapper:last-child & {
			border-bottom: 0 none;
		}
	}
}
