%input-default {
	padding: 12px;
	font-size: em(12);
	border: 1px solid $gray;
	border-radius: $border-radius;
	background-color: $white;
	color: $black;
	transition: all 0.15s ease;
	
	@include input-placeholder {
		color: transparentize( $black, 0.5 );
	}
}

%input-dark {
	border-color: $white;
	color: $white;
	background-color: transparent;
	
	@include input-placeholder {
		color: transparentize( $white, 0.5 );
	}
	
	&.btn:hover, &:focus, &:active {
		border-color: transparent;
		color: $white;
		box-shadow: 0 0 0 2px $white;
		outline: 0;
	}
}

.input-text {
	@extend %input-default;
	&:focus, &:active {
		border-color: $white;
		outline: none;
		box-shadow: 0 0 0 2px $darkgray;
	}	
}

body a.btn,
body .btn {
	@extend %input-default;
	display: inline-block;
	padding: 15px 30px;
	font-size: em(12.5);
	font-weight: $bold;
	letter-spacing: em(2);
	text-decoration: none;
	text-transform: uppercase;
	color: $darkgray;
	cursor: pointer;
	transition: all 0.15s ease;
	background-color: transparent;
	
	&:hover {
		text-decoration: none;
	}
	
	&:hover, &:focus, &:active {
		border-color: transparent;
		box-shadow: 0 0 0 2px $darkgray;
		outline: 0;
	}
	
	@include respond-equal(sm) {
		font-size: em(12);
		padding: 10px 20px;
	}
}

body a.btn[disabled],
body .btn[disabled] {
	cursor: no-drop;
}

body a.btn-primary,
body .btn-primary {
	border-color: $green;
	background-color: $green;
	color: $white;
	
	&:focus, &:active {
		border-color: $white;
		background-color: $white;
		color: $green;
		outline: none;
		box-shadow: 0 0 0 2px $green;
	}
	
	&:hover {
		box-shadow: 0 0 0 2px $green;
	}
}

body a.btn-info,
body .btn-info {
	border-color: $darkgray;
	background-color: $darkgray;
	color: $white;
	
	&:focus, &:active {
		border-color: $white;
		background-color: $white;
		color: $darkgray;
		outline: none;
		box-shadow: 0 0 0 2px $darkgray;
	}
	
	&:hover {
		box-shadow: 0 0 0 2px $darkgray;
	}
}

body a.btn-sm,
body .btn-sm {
	padding: 10px 20px;
	font-size: em(11.5);
	font-weight: $normal;
	
	@include respond-equal(sm) {
		padding: 5px 10px;
	}
}

.btn-group {
	margin-bottom: -10px;
	
	.btn {
		margin: 10px 10px;
	}
}
