.wrapper, .grid { @include clearfix; }
.grid-padded {
	margin-left: -10px;
	margin-right: -10px;
	
	> * {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
}
.grid > * {
	display: inline-block;
	vertical-align: top;
}
.grid.align-middle > * {
	vertical-align: middle;
}
.width-1-1 { width: 100%; }
.width-1-2 { width: 50%; }
.width-1-3 { width: 33.33333%; }
.width-1-4 { width: 25%; }
.width-1-5 { width: 20%; }
.width-1-6 { width: 16.66667%; }
.width-2-3 { width: 66.66667%; }
.width-3-4 { width: 75%; }
.width-2-5 { width: 40%; }
.width-3-5 { width: 60%; }
.width-4-5 { width: 80%; }
.width-5-6 { width: 83,33333%; }
@include respond-larger(md) {
	.width-md-1-1 { width: 100%; }
	.width-md-1-2 { width: 50%; }
	.width-md-1-3 { width: 33.33333%; }
	.width-md-1-4 { width: 25%; }
	.width-md-1-5 { width: 20%; }
	.width-md-1-6 { width: 16.66667%; }
	.width-md-2-3 { width: 66.66667%; }
	.width-md-3-4 { width: 75%; }
	.width-md-2-5 { width: 40%; }
	.width-md-3-5 { width: 60%; }
	.width-md-4-5 { width: 80%; }
	.width-md-5-6 { width: 83,33333%; }
}
@include respond-larger(lg) {
	.width-lg-1-1 { width: 100%; }
	.width-lg-1-2 { width: 50%; }
	.width-lg-1-3 { width: 33.33333%; }
	.width-lg-1-4 { width: 25%; }
	.width-lg-1-5 { width: 20%; }
	.width-lg-1-6 { width: 16.66667%; }
	.width-lg-2-3 { width: 66.66667%; }
	.width-lg-3-4 { width: 75%; }
	.width-lg-2-5 { width: 40%; }
	.width-lg-3-5 { width: 60%; }
	.width-lg-4-5 { width: 80%; }
	.width-lg-5-6 { width: 83,33333%; }
}
@include respond-equal(sm) {
	.hidden-sm,
	.visible-md,
	.visible-lg { display: none; }

	.wide-sm { max-width: 100%; }
	.text-left-sm { text-align: left; }
	.text-right-sm { text-align: right; }
}
@include respond-equal(md) {
	.hidden-md,
	.visible-sm,
	.visible-lg { display: none; }

	.wide-md { max-width: 100%; }
	.text-left-md { text-align: left; }
	.text-right-md { text-align: right; }
}
@include respond-equal(lg) {
	.hidden-lg,
	.visible-sm,
	.visible-md { display: none; }

	.wide-lg { max-width: 100%; }
	.text-left-lg { text-align: left; }
	.text-right-lg { text-align: right; }
}