/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$sprite-logo-bookingcom-x: 0px;
$sprite-logo-bookingcom-y: 0px;
$sprite-logo-bookingcom-offset-x: 0px;
$sprite-logo-bookingcom-offset-y: 0px;
$sprite-logo-bookingcom-width: 130px;
$sprite-logo-bookingcom-height: 130px;
$sprite-logo-bookingcom-total-width: 395px;
$sprite-logo-bookingcom-total-height: 365px;
$sprite-logo-bookingcom-image: '/images/sprite.png';
$sprite-logo-bookingcom: 0px 0px 0px 0px 130px 130px 395px 365px '/images/sprite.png';
$sprite-logo-html5-x: 265px;
$sprite-logo-html5-y: 132.5px;
$sprite-logo-html5-offset-x: -265px;
$sprite-logo-html5-offset-y: -132.5px;
$sprite-logo-html5-width: 100px;
$sprite-logo-html5-height: 100px;
$sprite-logo-html5-total-width: 395px;
$sprite-logo-html5-total-height: 365px;
$sprite-logo-html5-image: '/images/sprite.png';
$sprite-logo-html5: 265px 132.5px -265px -132.5px 100px 100px 395px 365px '/images/sprite.png';
$sprite-logo-javascript-x: 0px;
$sprite-logo-javascript-y: 265px;
$sprite-logo-javascript-offset-x: 0px;
$sprite-logo-javascript-offset-y: -265px;
$sprite-logo-javascript-width: 100px;
$sprite-logo-javascript-height: 100px;
$sprite-logo-javascript-total-width: 395px;
$sprite-logo-javascript-total-height: 365px;
$sprite-logo-javascript-image: '/images/sprite.png';
$sprite-logo-javascript: 0px 265px 0px -265px 100px 100px 395px 365px '/images/sprite.png';
$sprite-logo-mtv-x: 132.5px;
$sprite-logo-mtv-y: 0px;
$sprite-logo-mtv-offset-x: -132.5px;
$sprite-logo-mtv-offset-y: 0px;
$sprite-logo-mtv-width: 130px;
$sprite-logo-mtv-height: 130px;
$sprite-logo-mtv-total-width: 395px;
$sprite-logo-mtv-total-height: 365px;
$sprite-logo-mtv-image: '/images/sprite.png';
$sprite-logo-mtv: 132.5px 0px -132.5px 0px 130px 130px 395px 365px '/images/sprite.png';
$sprite-logo-nodejs-x: 102.5px;
$sprite-logo-nodejs-y: 265px;
$sprite-logo-nodejs-offset-x: -102.5px;
$sprite-logo-nodejs-offset-y: -265px;
$sprite-logo-nodejs-width: 200px;
$sprite-logo-nodejs-height: 54px;
$sprite-logo-nodejs-total-width: 395px;
$sprite-logo-nodejs-total-height: 365px;
$sprite-logo-nodejs-image: '/images/sprite.png';
$sprite-logo-nodejs: 102.5px 265px -102.5px -265px 200px 54px 395px 365px '/images/sprite.png';
$sprite-logo-scup-x: 0px;
$sprite-logo-scup-y: 132.5px;
$sprite-logo-scup-offset-x: 0px;
$sprite-logo-scup-offset-y: -132.5px;
$sprite-logo-scup-width: 130px;
$sprite-logo-scup-height: 130px;
$sprite-logo-scup-total-width: 395px;
$sprite-logo-scup-total-height: 365px;
$sprite-logo-scup-image: '/images/sprite.png';
$sprite-logo-scup: 0px 132.5px 0px -132.5px 130px 130px 395px 365px '/images/sprite.png';
$sprite-logo-univision-x: 132.5px;
$sprite-logo-univision-y: 132.5px;
$sprite-logo-univision-offset-x: -132.5px;
$sprite-logo-univision-offset-y: -132.5px;
$sprite-logo-univision-width: 130px;
$sprite-logo-univision-height: 130px;
$sprite-logo-univision-total-width: 395px;
$sprite-logo-univision-total-height: 365px;
$sprite-logo-univision-image: '/images/sprite.png';
$sprite-logo-univision: 132.5px 132.5px -132.5px -132.5px 130px 130px 395px 365px '/images/sprite.png';
$sprite-logo-wesley-x: 265px;
$sprite-logo-wesley-y: 0px;
$sprite-logo-wesley-offset-x: -265px;
$sprite-logo-wesley-offset-y: 0px;
$sprite-logo-wesley-width: 130px;
$sprite-logo-wesley-height: 130px;
$sprite-logo-wesley-total-width: 395px;
$sprite-logo-wesley-total-height: 365px;
$sprite-logo-wesley-image: '/images/sprite.png';
$sprite-logo-wesley: 265px 0px -265px 0px 130px 130px 395px 365px '/images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
