$sprite-logo-bookingcom-x: 0px;
$sprite-logo-bookingcom-y: 0px;
$sprite-logo-bookingcom-offset-x: -0px;
$sprite-logo-bookingcom-offset-y: -0px;
$sprite-logo-bookingcom-width: 130px;
$sprite-logo-bookingcom-height: 130px;
$sprite-logo-bookingcom-total-width: 490px;
$sprite-logo-bookingcom-total-height: 314px;
$sprite-logo-bookingcom-image: '/images/sprite.png';
$sprite-logo-bookingcom: 0px 0px -0px -0px 130px 130px 490px 314px '/images/sprite.png';
$sprite-logo-html5-x: 390px;
$sprite-logo-html5-y: 0px;
$sprite-logo-html5-offset-x: -390px;
$sprite-logo-html5-offset-y: -0px;
$sprite-logo-html5-width: 100px;
$sprite-logo-html5-height: 100px;
$sprite-logo-html5-total-width: 490px;
$sprite-logo-html5-total-height: 314px;
$sprite-logo-html5-image: '/images/sprite.png';
$sprite-logo-html5: 390px 0px -390px -0px 100px 100px 490px 314px '/images/sprite.png';
$sprite-logo-javascript-x: 390px;
$sprite-logo-javascript-y: 100px;
$sprite-logo-javascript-offset-x: -390px;
$sprite-logo-javascript-offset-y: -100px;
$sprite-logo-javascript-width: 100px;
$sprite-logo-javascript-height: 100px;
$sprite-logo-javascript-total-width: 490px;
$sprite-logo-javascript-total-height: 314px;
$sprite-logo-javascript-image: '/images/sprite.png';
$sprite-logo-javascript: 390px 100px -390px -100px 100px 100px 490px 314px '/images/sprite.png';
$sprite-logo-mtv-x: 130px;
$sprite-logo-mtv-y: 0px;
$sprite-logo-mtv-offset-x: -130px;
$sprite-logo-mtv-offset-y: -0px;
$sprite-logo-mtv-width: 130px;
$sprite-logo-mtv-height: 130px;
$sprite-logo-mtv-total-width: 490px;
$sprite-logo-mtv-total-height: 314px;
$sprite-logo-mtv-image: '/images/sprite.png';
$sprite-logo-mtv: 130px 0px -130px -0px 130px 130px 490px 314px '/images/sprite.png';
$sprite-logo-nodejs-x: 0px;
$sprite-logo-nodejs-y: 260px;
$sprite-logo-nodejs-offset-x: -0px;
$sprite-logo-nodejs-offset-y: -260px;
$sprite-logo-nodejs-width: 200px;
$sprite-logo-nodejs-height: 54px;
$sprite-logo-nodejs-total-width: 490px;
$sprite-logo-nodejs-total-height: 314px;
$sprite-logo-nodejs-image: '/images/sprite.png';
$sprite-logo-nodejs: 0px 260px -0px -260px 200px 54px 490px 314px '/images/sprite.png';
$sprite-logo-scup-x: 0px;
$sprite-logo-scup-y: 130px;
$sprite-logo-scup-offset-x: -0px;
$sprite-logo-scup-offset-y: -130px;
$sprite-logo-scup-width: 130px;
$sprite-logo-scup-height: 130px;
$sprite-logo-scup-total-width: 490px;
$sprite-logo-scup-total-height: 314px;
$sprite-logo-scup-image: '/images/sprite.png';
$sprite-logo-scup: 0px 130px -0px -130px 130px 130px 490px 314px '/images/sprite.png';
$sprite-logo-univision-x: 130px;
$sprite-logo-univision-y: 130px;
$sprite-logo-univision-offset-x: -130px;
$sprite-logo-univision-offset-y: -130px;
$sprite-logo-univision-width: 130px;
$sprite-logo-univision-height: 130px;
$sprite-logo-univision-total-width: 490px;
$sprite-logo-univision-total-height: 314px;
$sprite-logo-univision-image: '/images/sprite.png';
$sprite-logo-univision: 130px 130px -130px -130px 130px 130px 490px 314px '/images/sprite.png';
$sprite-logo-wesley-x: 260px;
$sprite-logo-wesley-y: 0px;
$sprite-logo-wesley-offset-x: -260px;
$sprite-logo-wesley-offset-y: -0px;
$sprite-logo-wesley-width: 130px;
$sprite-logo-wesley-height: 130px;
$sprite-logo-wesley-total-width: 490px;
$sprite-logo-wesley-total-height: 314px;
$sprite-logo-wesley-image: '/images/sprite.png';
$sprite-logo-wesley: 260px 0px -260px -0px 130px 130px 490px 314px '/images/sprite.png';
$sprite-logo-workandco-x: 260px;
$sprite-logo-workandco-y: 130px;
$sprite-logo-workandco-offset-x: -260px;
$sprite-logo-workandco-offset-y: -130px;
$sprite-logo-workandco-width: 130px;
$sprite-logo-workandco-height: 130px;
$sprite-logo-workandco-total-width: 490px;
$sprite-logo-workandco-total-height: 314px;
$sprite-logo-workandco-image: '/images/sprite.png';
$sprite-logo-workandco: 260px 130px -260px -130px 130px 130px 490px 314px '/images/sprite.png';
