// Breakpoints
$break-medium: 768px;
$break-large: 1280px;

// Font weights
$normal: 300;
$bold: 700;

// Font sizes
$size-default: 16;
$size-sm: 18;

// Colors
$black: #000;
$white: #FFF;

$lightgray: #EEE;
$gray: #DDD;
$darkgray: #666;
$darkergray: #333;

$green: #93FF26;

// Common sizes
$spacing-lg: 40px;
$spacing-sm: 20px;
$nav-height-lg: 115px;
$nav-height-sm: 45px;
$border-radius: 4px;