:global(html) {
  font-family: system-ui;
  background: #0f1112;
  color: #fff;
  min-height: 100vh;
}

:global(*),
:global(*::after),
:global(*::before) {
  box-sizing: border-box;
}

:global(a) {
  color: inherit;
}

:global(body) {
  display: grid;
  align-items: center;
  justify-items: stretch;
  margin: 0;
  min-height: 100vh;
}

:global(.SvgInline) {
  width: 1.5lh;
  margin: -0.3lh;
  vertical-align: -0.3rem;
}

:global(.Sprite) {
  display: none;
}

.Main,
.Wrapper {
  grid-area: 1 / 1 / 1 / 1;
}

.Main {
  --colum-width: 50%;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 2rem 0;
  height: fit-content;
  min-height: 100vh;
}

.Background {
  opacity: 0.5;
  z-index: 1;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);

  h1,
  h2 {
    color: rgba(255, 255, 255, 1);
  }

  h1:first-child {
    margin-block-start: 0;
  }
}

.Page {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-blend-mode: luminosity;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 2.125rem;
  border: 1.4px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  max-width: min(40rem, calc(100vw - 2rem));
  line-height: 1.6;
}

.Leading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.375rem;
  gap: 4.375rem;
}

.Leading,
.Trailing {
  width: var(--colum-width);
}

.Logo {
}

.Download {
}

.Footer {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}

.Trailing {
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .Main {
    --colum-width: auto;
    flex-direction: column;
  }

  .Trailing {
    padding: 0 2rem 2rem 2rem;
    align-self: flex-start;
    width: 100%;
  }

  .Trailing img {
    width: 100%;
  }
}
