*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1em;
}

a {
  color: inherit;
}

figure {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

.Sprite {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
}
