:root {
  --font-color: #fff;
  --underline-color: #fff4;
  --box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
  --text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  --animation-duration: 0.8s;
  --animation-from-bottom: 50px;
  --animation-from-left: -25px;
  --animation-from-right: 25px;
}

html {
  height: 100%;
  color: var(--font-color);
  background: #7c2f88;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px;
  background: radial-gradient(
      100% 151.69% at 100% 0%,
      rgba(255, 17, 245, 0.5) 0%,
      rgba(255, 17, 245, 0) 100%
    ),
    radial-gradient(
      100% 151.69% at 0% 0%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(100% 231.95% at 0% 100%, #9628db 0%, #000000 100%);
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

@media (max-width: 934px) {
  html {
    background-color: #7820af;
  }

  body {
    padding: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(
        139.63% 80.46% at 0% 100%,
        rgba(255, 17, 245, 0.5) 0%,
        rgba(255, 17, 245, 0) 100%
      ),
      radial-gradient(
        106.15% 68.11% at 100% 100%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(180deg, #9628db 0%, #000000 100%);
  }
}

a {
  text-decoration-color: var(--underline-color);
  text-underline-offset: 2px;
}

h1,
li,
p,
ul {
  margin: 0;
}

.Card {
  animation: var(--animation-duration) backwards fade,
    var(--animation-duration) backwards zoom;
  border-radius: 25px;
  position: relative;
  min-width: 335px;
  max-width: 400px;
  padding: 40px;
  box-shadow: inset 0 0 500px -100px rgba(255, 255, 255, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  border: 1px solid #0005;
  background-color: rgba(255, 255, 255, 0.15);
}

.Card-Wide {
  padding-inline: 0;
}

.Card::before {
  content: attr(aria-label);
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
  font-size: 13rem;
  font-weight: 700;
}

.Card-Clip {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 934px) {
  .Card {
    width: 100%;
  }

  .Card:not(.Card-Wide) {
    padding-inline: 30px;
  }

  .Card::before {
    bottom: -2em;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes zoom {
    from {
      transform: scale(0.9) translateX(var(--animation-translate-x, 0))
        translateY(var(--animation-from-bottom));
    }

    to {
      transform: scale(1) translateX(0) translateY(0);
    }
  }
}
