@import 'css95/style.css';
@import './Wes95/Graphics.css';
@import './Wes95/Icons.generated.css';
@import './Wes95/Screen.css';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--css95-color-desktopBackground);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;

  &:has(.Screen.-maximized) {
    background-color: var(--css95-color-headerBackground);
  }
}

a,
button {
  color: inherit;
}

@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url('/C/Wes95/Fonts/PerfectDOS.ttf') format('truetype');
}

.MenuWes95 {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: calc(var(--css95-scale-value) * 3);
  left: calc(var(--css95-scale-value) * 3);
  bottom: calc(var(--css95-scale-value) * 3);
  width: calc(var(--css95-scale-value) * 16);
  padding: calc(var(--css95-scale-value) * 4) calc(var(--css95-scale-value) * 2);
  font-size: 1.2em;
  color: var(--css95-color-headerText);
  background-color: var(--css95-color-borderDark);

  .Wes95 {
    margin-bottom: calc(var(--css95-scale-value) * -10);
    transform: rotate(-90deg);
    transform-origin: top left;
  }

  .Wes {
    font-weight: bold;
    color: var(--css95-color-borderLight);
  }
}

.WindowTitleAnimation {
  align-items: center;
  animation: WindowTitleAnimation 350ms linear forwards;
  background-color: var(--css95-color-headerBackground);
  color: var(--css95-color-headerText);
  display: flex;
  gap: calc(var(--css95-scale-value) * 2);
  height: var(--wes95-title-from-height);
  left: var(--wes95-title-from-x);
  padding: var(--css95-scale-value) calc(var(--css95-scale-value) * 2);
  position: absolute;
  top: var(--wes95-title-from-y);
  width: var(--wes95-title-from-width);
  z-index: 3;
}

@keyframes WindowTitleAnimation {
  100% {
    height: var(--wes95-title-to-height);
    left: var(--wes95-title-to-x);
    top: var(--wes95-title-to-y);
    width: var(--wes95-title-to-width);
  }
}
