.CalendarTitle {
  margin: 10px 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.MonthText {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
}

.NavigationButtons {
  padding-bottom: 6px;
}

.NavigationButton {
  display: inline-block;
  padding: 0 8px;
  appearance: none;
  background-color: #fff;
  line-height: 23px;
  font-size: 0.875em;
  margin: 0 1px;
  border: none;
  color: #000;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.07),
    0px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

.NavigationButton:active {
  filter: brightness(0.85);
}

.Calendar {
  display: grid;
  margin-left: 14px;
  grid-template-columns: 60px repeat(7, 1fr);
  flex-grow: 1;
}

.Hour {
  z-index: 1;
  margin-top: -0.7em;
  padding-right: 7px;
  text-align: right;
  font-size: 0.5625em;
  color: #898989;
  flex-grow: 1;
}
