---
import HeadMeta from '../components/HeadMeta.astro';
import Articles from '../components/home/Articles.astro';
import Code from '../components/home/Code.astro';
import Info from '../components/home/Info.astro';
import Social from '../components/home/Social.astro';
import Talks from '../components/home/Talks.astro';
import Work from '../components/home/Work.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

const year = new Date().getFullYear();
---

<!DOCTYPE html>
<!-- Source code available at https://github.com/WesSouza/wes.dev/ -->
<html lang="en">
  <head>
    <HeadMeta title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="CardWall">
      <Info />
      <Social />
      <Talks />
      <Articles />
      <Code />
      <Work />
    </main>
    <footer class="Footer">
      <abbr title="Copyright">&copy;</abbr>
      <a href="/archive/1999/">1999</a>,
      <a href="/archive/2014/">2014</a>,
      <a href="/archive/2017/">2017</a>,
      <a href="/archive/2019/">2019</a>, {year} Wes Souza
    </footer>

    <style>
      :root {
        --font-color: #fff;
        --underline-color: #fff7;
        --box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
        --text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
      }

      :global(a) {
        text-decoration-color: var(--underline-color);
        text-underline-offset: 2px;
      }

      :global(h1, li, p, ul) {
        margin: 0;
      }

      html {
        height: 100%;
        color: var(--font-color);
        background: #7c2f88;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 50px;
        background: radial-gradient(
            100% 151.69% at 100% 0%,
            rgba(255, 17, 245, 0.5) 0%,
            rgba(255, 17, 245, 0) 100%
          ),
          radial-gradient(
            100% 151.69% at 0% 0%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          radial-gradient(100% 231.95% at 0% 100%, #9628db 0%, #000000 100%);
        background-attachment: fixed;
        font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
      }

      .CardWall {
        display: grid;
        grid-template:
          'Talks Info Code' 35%
          'Talks Info .' 50px
          'Talks Info Social' 6.666666667%
          '. Info Social' 50px
          'Articles Info Social' 1.666666667%
          'Articles Info .' 50px
          'Articles Info Work' 31.66666667%
          / 1fr 1fr 1fr;
        column-gap: 50px;
        min-height: 600px;
        padding-bottom: 30px;
      }

      .Footer {
        border-top: 0.5px solid rgba(255, 255, 255, 0.1);
        margin-top: 50px;
        padding: 5px 10px;
        color: rgba(255, 255, 255, 0.65);
        font-size: 13rem;
      }

      @media (max-width: 934px) {
        body {
          padding: 20px;
        }

        .CardWall {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 80px;
          max-width: 400px;
        }
      }

      @media (min-width: 935px) and (max-width: 1300px) {
        .CardWall {
          grid-template:
            'Info Talks' 260px
            'Info Social' 100px
            'Info Articles' 260px
            'Code Work' 210px
            / 1fr 1fr;
          gap: 50px;
        }
      }

      :global(.Card) {
        border-radius: 25px;
        position: relative;
        min-width: 335px;
        max-width: 400px;
        padding: 40px;
        box-shadow: inset 0 0 500px -100px rgba(255, 255, 255, 0.3),
          inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        border: 1px solid #0005;
        background-color: rgba(255, 255, 255, 0.15);
      }

      :global(.Card-Wide) {
        padding-inline: 0;
      }

      :global(.Card::before) {
        content: attr(aria-label);
        speak: none;
        position: absolute;
        bottom: -1.5em;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.65);
        font-size: 13rem;
        font-weight: 700;
      }

      :global(.Card-Clip) {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      @media (max-width: 934px) {
        html {
          background-color: #7820af;
        }

        body {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.2)
            ),
            radial-gradient(
              139.63% 80.46% at 0% 100%,
              rgba(255, 17, 245, 0.5) 0%,
              rgba(255, 17, 245, 0) 100%
            ),
            radial-gradient(
              106.15% 68.11% at 100% 100%,
              rgba(255, 255, 255, 0.3) 0%,
              rgba(255, 255, 255, 0) 100%
            ),
            linear-gradient(180deg, #9628db 0%, #000000 100%);
        }

        :global(.Card) {
          width: 100%;
        }

        :global(.Card:not(.Card-Wide)) {
          padding-inline: 30px;
        }

        :global(.Card::before) {
          bottom: -2em;
        }
      }
    </style>
  </body>
</html>
