---
import '../styles/home.css';

import HeadMeta from '../components/HeadMeta.astro';
import Articles from '../components/home/Articles.astro';
import Code from '../components/home/Code.astro';
import Counter from '../components/home/Counter.astro';
import Info from '../components/home/Info.astro';
import Social from '../components/home/Social.astro';
import Talks from '../components/home/Talks.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

const year = new Date().getFullYear();
---

<!doctype html>
<!-- Source code available at https://github.com/WesSouza/wes.dev/ -->
<html lang="en" class="-PurpleBackground">
  <head>
    <HeadMeta title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="CardWall">
      <Info />
      <Social />
      <Talks />
      <Articles />
      <Code />
      <Counter />
    </main>
    <footer class="Footer">
      <abbr title="Copyright">&copy;</abbr>
      <a href="/archive/1999/">1999</a>,
      <a href="/archive/2014/">2014</a>,
      <a href="/archive/2017/">2017</a>,
      <a href="/archive/2019/">2019</a>, {year} Wes Souza
    </footer>

    <style>
      .CardWall {
        display: grid;
        grid-template:
          'Talks Info Code' 47.91666667%
          '. Info .' 50px
          'Articles Info Social' 19.79166667%
          'Articles Info .' 50px
          'Articles Info Counter' 19.79166667%
          / 1fr 1fr 1fr;
        column-gap: 50px;
        min-height: 600px;
        padding-bottom: 30px;
      }

      .Footer {
        animation: var(--animation-duration) both fade;
        border-top: 0.5px solid rgba(255, 255, 255, 0.1);
        margin-top: 50px;
        padding: 5px 10px;
        color: rgba(255, 255, 255, 0.65);
        font-size: 13rem;
      }

      @media (max-width: 934px) {
        .CardWall {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 80px;
          max-width: 400px;
        }
      }

      @media (min-width: 935px) and (max-width: 1300px) {
        .CardWall {
          grid-template:
            'Info Talks' 260px
            'Info Social' 100px
            'Info Articles' 260px
            'Code Counter' 210px
            / 1fr 1fr;
          gap: 50px;
        }
      }

      @media (prefers-reduced-motion: no-preference) and (min-width: 935px) {
        .Footer {
          animation-delay: 0.4s;
        }
      }
    </style>
  </body>
</html>
