---
import "../styles/resume.css";

import HeadMeta from "../components/HeadMeta.astro";
import Article from "../components/resume/Article.astro";
import { SITE_GO_LINKS } from "../config";

const articles = SITE_GO_LINKS.filter(
  (article) => article.subtitle && article.title
) as {
  goSlug: string;
  href: string;
  subtitle: string;
  title: string;
}[];
---

<!DOCTYPE html>
<!-- Source code available at https://github.com/WesSouza/wes.dev/ -->
<html lang="en">
  <head>
    <HeadMeta
      title="Wes Souza’s Resume"
      description="Printable resume for Wes Souza."
    />
  </head>
  <body class="resume">
    <aside class="sidebar">
      <h1 class="name">Wes Souza</h1>

      <div class="section">
        <p>
          Staff software developer working on projects for the web platform
          since 2006, and mobile since 2016.
        </p>
        <p>
          JavaScript is my career’s main driver, together with technologies such
          as React, React Native, Node.js and GraphQL. I&nbsp;thrive on building
          great products, while caring deeply about the developer experience of
          my team.
        </p>
      </div>

      <address class="section">
        <h3>Contact</h3>
        <ul>
          <li>
            <a href="mailto:hey@wes.dev">hey@wes.dev</a> &sdot;
            <a href="https://wes.dev/" target="_blank">wes.dev</a>
          </li>
          <li>
            <a href="https://dev.to/wes/" target="_blank">dev.to/wes</a>
          </li>
          <li>
            <a href="https://github.com/WesSouza/" target="_blank"
              >github.com/WesSouza</a
            >
          </li>
          <li>
            <a href="https://twitter.com/__WesSouza/" target="_blank"
              >twitter.com/__WesSouza</a
            >
          </li>
        </ul>
      </address>

      <div class="section">
        <h3 class="title">Articles & Talks</h3>
        <ul>
          {
            articles
              .slice(0, 7)
              .map((article) => (
                <Article
                  goSlug={article.goSlug}
                  href={article.href}
                  subtitle={article.subtitle}
                  title={article.title}
                />
              ))
          }
        </ul>
      </div>
    </aside>

    <main>
      <section class="section">
        <h2 class="title">Experience</h2>

        <ul class="no-bullets">
          <li>
            <h3>
              <a
                href="https://unqork.com/"
                target="_blank"
                rel="nofollow noopener">Unqork</a
              ><span class="info-right"
                >Staff Software Engineer, Sep 2020&ndash;present</span
              >
            </h3>
          </li>

          <li>
            <h3>
              <a href="https://work.co/" target="_blank" rel="nofollow noopener"
                >Work & Co</a
              ><span class="info-right"
                >Staff Developer, Sep 2016&ndash;Aug 2020</span
              >
            </h3>

            <ul>
              <li>
                Led the state data modeling, overall state management and
                project architecture on a React project building a touch-screen
                based project.
              </li>
              <li>
                Led the API contract, state data modeling, and overall state
                management on a React Native project for a large restaurant
                chain, using RESTful endpoints, Redux and Redux Saga.
              </li>
              <li>
                Built a component-based solution compatible with the constraints
                of the client’s CMS and e-commerce platform, allowing use of
                modern React for Aesop’s redesigned web experience.
              </li>
              <li>
                Contributed with React component development, modern CSS styling
                using PostCSS and state management using Redux or GraphQL on a
                handful of projects.
              </li>
              <li>
                Mentored teammates on back end development and best practices
                while developing mock API services using Node.js.
              </li>
              <li>
                Created and managed an internal email newsletter to highlight
                people’s work, learnings, and shared content, and promote a
                better community.
              </li>
            </ul>
          </li>

          <li>
            <h3>
              <a
                href="https://www.booking.com/"
                target="_blank"
                rel="nofollow noopener">Booking.com</a
              >
              <span class="info-right"
                >Client-side developer, May 2014&ndash;Sep 2016</span
              >
            </h3>
            <ul>
              <li>
                Led a complete refactor of the website search boxes, including
                libraries used to autocomplete locations, aiming to reduce
                complexity and dependency on outdated jQuery UI plugins.
              </li>
              <li>
                Developed the design system components used on the Booking.com
                for Business application.
              </li>
              <li>
                Designed and developed a component-based system that aimed to
                better organize the scattered HTML, CSS and JavaScript files the
                website was based on, improving the developer experience and
                velocity.
              </li>
              <li>
                Provided mentoring for development interns on career development
                inside the company.
              </li>
            </ul>
          </li>

          <li>
            <h3 class="title">Previously</h3>
            <p>
              <a
                href="https://scup.com/"
                target="_blank"
                rel="nofollow noopener">Scup.com</a
              >,
              <a
                href="https://www.univision.com/"
                target="_blank"
                rel="nofollow noopener">Univision</a
              >,
              <a
                href="https://www.mtv.com.br/"
                target="_blank"
                rel="nofollow noopener">MTV Brasil</a
              >
              &amp; others.
            </p>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
