---
import "../styles/resume.css";

import HeadMeta from "../components/HeadMeta.astro";
import Sidebar from "../components/resume/Sidebar.astro";
---

<!DOCTYPE html>
<!-- Source code available at https://github.com/WesSouza/wes.dev/ -->
<html lang="en">
  <head>
    <HeadMeta
      title="Wes Souza’s Resume"
      description="Printable resume for Wes Souza."
    />
  </head>
  <body class="resume">
    <Sidebar />

    <main>
      <section class="section">
        <h2 class="title">Experience</h2>

        <ul class="no-bullets">
          <li>
            <h3 class="flex-space-between">
              <a
                class="no-wrap"
                href="https://unqork.com/"
                target="_blank"
                rel="nofollow noopener">Unqork</a
              ><span class="info-right"
                >Staff Software Engineer, <span class="no-wrap"
                  >Sep 2020&ndash;present</span
                ></span
              >
            </h3>

            <ul>
              <li>
                Led teams and collaborated with stakeholders to plan and deliver
                new products and improvements to existing areas of the platform.
              </li>
              <li>
                Led the refactor of a real time analysis tool, bringing
                performance to both front end &ndash; with effective React state
                management &ndash;, and back end &ndash; with a simplified
                algorithm written for Node.js, exposing a GraphQL service.
              </li>
              <li>
                Delivered new components, changes and complex refactors to the
                company&rsquo;s design system library, utilizing React,
                Storybook and AG Grid.
              </li>
              <li>
                Led multiple internal task forces to improve the
                platform&rsquo;s development experience and its build quality,
                with Yarn and Webpack and overall documentation.
              </li>
            </ul>
          </li>

          <li>
            <h3 class="flex-space-between">
              <a
                class="no-wrap"
                href="https://work.co/"
                target="_blank"
                rel="nofollow">Work & Co</a
              ><span class="info-right"
                >Senior Developer, <span class="no-wrap"
                  >Sep 2016&ndash;Aug 2020</span
                ></span
              >
            </h3>

            <ul>
              <li>
                Led the state data modeling, overall state management and
                project architecture on a React project building a touch-screen
                based project.
              </li>
              <li>
                Led the API contract, state data modeling, and overall state
                management on a React Native project for a large restaurant
                chain, using RESTful endpoints, Redux and Redux Saga.
              </li>
              <li>
                Built a component-based solution compatible with the constraints
                of the client’s CMS and e-commerce platform, allowing use of
                modern React for Aesop’s redesigned web experience.
              </li>
              <li>
                Contributed with React component development, modern CSS styling
                using PostCSS and state management using Redux or GraphQL on a
                handful of projects.
              </li>
              <li>
                Mentored teammates on back end development and best practices
                while developing mock API services using Node.js.
              </li>
              <li>
                Created and managed an internal email newsletter to highlight
                people’s work, learnings, and shared content, and promote a
                better community.
              </li>
            </ul>
          </li>

          <li>
            <h3 class="flex-space-between">
              <a
                class="no-wrap"
                href="https://www.booking.com/"
                target="_blank"
                rel="nofollow">Booking.com</a
              >
              <span class="info-right"
                >Client-side developer, <span class="no-wrap"
                  >May 2014&ndash;Sep 2016</span
                ></span
              >
            </h3>
            <ul>
              <li>
                Led a complete refactor of the website search boxes, including
                libraries used to autocomplete locations, aiming to reduce
                complexity and dependency on outdated jQuery UI plugins.
              </li>
              <li>
                Developed the design system components used on the Booking.com
                for Business application.
              </li>
              <li>
                Designed and developed a component-based system that aimed to
                better organize the scattered HTML, CSS and JavaScript files the
                website was based on, improving the developer experience and
                velocity.
              </li>
              <li>
                Mentored interns on career development inside the company.
              </li>
            </ul>
          </li>

          <li>
            <h3 class="flex-space-between">
              <a
                class="no-wrap"
                href="https://sprinklr.com/"
                target="_blank"
                rel="nofollow noopener">Sprinklr</a
              >
              <span class="info-right"
                >Front-end engineer, <span class="no-wrap"
                  >May 2013&ndash;April 2014</span
                ></span
              >
            </h3>
          </li>

          <li>
            <h3 class="flex-space-between">
              <a
                class="no-wrap"
                href="https://www.univision.com/"
                target="_blank"
                rel="nofollow">Univision.com</a
              >
              <span class="info-right"
                >Lead PHP Developer, <span class="no-wrap"
                  >July 2012&ndash;May 2013</span
                ></span
              >
            </h3>
          </li>

          <li>
            <h3 class="flex-space-between">
              <a
                class="no-wrap"
                href="https://www.mtv.com.br/"
                target="_blank"
                rel="nofollow">MTV Brasil</a
              >
              <span class="info-right"
                >PHP Developer, <span class="no-wrap"
                  >April 2010&ndash;July 2012</span
                ></span
              >
            </h3>
          </li>

          <li>
            <h3 class="flex-space-between">
              <span>Connix</span>
              <span class="info-right"
                >PHP Developer, <span class="no-wrap"
                  >April 2008&ndash;February 2010</span
                ></span
              >
            </h3>
          </li>

          <li>
            <h3 class="flex-space-between">
              <span>Netcash</span>
              <span class="info-right"
                >Junior PHP Developer, <span class="no-wrap"
                  >April 2006&ndash;April 2008</span
                ></span
              >
            </h3>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
