---
import Article from './Article.astro';
---

<section class="Card Card-Wide Card-Articles" aria-label="Articles">
  <div class="Card-Clip">
    <ul class="List">
      <li class="ListItem">
        <Article
          title="Writing Good Pull Requests: A Primer"
          href="https://dev.to/wes/opening-a-pr-a-primer-4kgc"
          rowWidths={[
            74, 82, 80, 74, 0, 80, 78, 83, 74, 77, 0, 85, 80, 80, 0, 80, 74,
          ]}
        />
      </li>
      <li class="ListItem">
        <Article
          title="Simple React State Management"
          href="https://dev.to/wes/simple-react-state-management-29g"
          rowWidths={[
            74, 82, 80, 74, 80, 62, 0, 88, 74, 77, 0, 85, 80, 0, 80, 88, 74, 0,
            88, 80,
          ]}
        />
      </li>
      <li class="ListItem">
        <Article
          title="Why I Became a Web Developer"
          href="https://dev.to/wes/why-i-became-and-still-am-a-web-developer-1k3"
          rowWidths={[
            74, 82, 16, 0, 80, 62, 0, 80, 77, 74, 0, 85, 80, 0, 80, 73, 32,
          ]}
        />
      </li>
    </ul>
  </div>
</section>

<style>
  .Card-Articles {
    grid-area: Articles;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1301px) {
    .Card-Articles.Card-Articles {
      padding-block: 38px;
    }
  }

  .List {
    list-style-type: none;
    padding: 2px 0;
    display: flex;
    gap: 25px;
  }

  .ListItem {
    background: linear-gradient(180deg, #ffffff 32.29%, #cbbdd1 100%);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: block;
    flex-shrink: 0;
    height: 170px;
    width: 140px;
  }
</style>
