---
import { SITE_GO_LINKS } from "../../config";
import Article from "./Article.astro";

const allArticles = SITE_GO_LINKS.filter(
  (article) => article.subtitle && article.title
) as {
  title: string;
  href: string;
}[];

const articles = [
  {
    ...allArticles[1],
    rowWidths: [
      74, 82, 80, 74, 0, 80, 78, 83, 74, 77, 0, 85, 80, 80, 0, 80, 74,
    ],
  },
  {
    ...allArticles[0],
    rowWidths: [
      74, 82, 80, 74, 80, 62, 0, 88, 74, 77, 0, 85, 80, 0, 80, 88, 74, 0, 88,
      80,
    ],
  },
  {
    ...allArticles[2],
    rowWidths: [74, 82, 16, 0, 80, 62, 0, 80, 77, 74, 0, 85, 80, 0, 80, 73, 32],
  },
];
---

<section class="Card Card-Wide Card-Articles" aria-label="Articles">
  <div class="Card-Clip">
    <ul class="List">
      {
        articles.map(
          (article) =>
            article.title &&
            article.href && (
              <li class="ListItem">
                <Article
                  title={article.title}
                  href={article.href}
                  rowWidths={article.rowWidths}
                />
              </li>
            )
        )
      }
    </ul>
  </div>
</section>

<style>
  .Card-Articles {
    grid-area: Articles;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 936px) {
    .Card-Articles {
      padding-block: 26px;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    @media (min-width: 935px) and (max-width: 1300px) {
      .Card-Articles {
        --animation-translate-x: var(--animation-from-left);
        animation-delay: 0.4s;
      }
    }

    @media (min-width: 1301px) {
      .Card-Articles {
        --animation-translate-x: var(--animation-from-right);
        animation-delay: 0.2s;
      }
    }
  }

  .List {
    list-style-type: none;
    padding: 2px 0;
    display: flex;
    gap: 25px;
  }

  .ListItem {
    display: block;
    flex-shrink: 0;
    height: 170px;
    width: 140px;
  }
</style>
