---
export interface Props {
  title: string;
  href: string;
  rowWidths?: number[];
}

const { title, href, rowWidths = [] } = Astro.props;
---

<a class="Article" href={href} target="_blank" rel="nofollow noopener">
  {title}

  <figure class="Text">
    {
      rowWidths.map((rowWidth) => (
        <span
          class="Text-Row"
          style={`--width: ${rowWidth}px; --spacing: ${
            rowWidth === 0 ? '1' : '0'
          }; `}
        />
      ))
    }
  </figure>
</a>

<style>
  .Article {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    color: #000;
    text-decoration: none;
    font-size: 12rem;
  }

  .Text {
    display: flex;
    margin: 10px 0 0 0;
    flex-direction: column;
    gap: 2px;
  }

  .Text-Row {
    width: var(--width);
    height: 2px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin-top: calc(var(--spacing) * 2px);
  }
</style>
