---
const grid = [
  [0, 0, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0],
  [1, 0, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0, 1, 0],
  [0, 0, 0, 4, 4, 2, 4, 4, 2, 4, 4, 0, 0, 0],
  [0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0],
  [0, 1, 0, 4, 4, 4, 4, 4, 4, 3, 0, 0, 1, 1],
];
---

<section class="Card Card-Wide Card-Code" aria-label="Code">
  <a
    class="Card-Clip"
    href="http://github.com/WesSouza/"
    rel="nofollow noopener"
    target="_blank"
    aria-label="GitHub-style contribution calendar grapn forming a W"
  >
    <figure class="Grid">
      {
        grid.map((row) =>
          row.map((cell) => <span class={`Cell Cell${cell}`} />),
        )
      }
    </figure>
  </a>
</section>

<style>
  .Card-Code {
    grid-area: Code;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (prefers-reduced-motion: no-preference) {
    @media (min-width: 935px) and (max-width: 1300px) {
      .Card-Code {
        --animation-translate-x: var(--animation-from-right);
        animation-delay: 0.5s;
      }
    }

    @media (min-width: 1301px) {
      .Card-Code {
        --animation-translate-x: var(--animation-from-left);
        animation-delay: 0.6s;
      }
    }
  }

  .Grid {
    display: grid;
    grid-template-columns: repeat(14, 18px);
    gap: 6px;
    grid-auto-rows: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' rx='2' fill='black' fill-opacity='0.15'/%3E%3Crect x='1' y='1' width='16' height='16' rx='1' stroke='black' stroke-opacity='0.03' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: repeat;
    background-position-x: calc(50% - 9px);
    width: 100%;
    justify-content: center;
  }

  .Cell {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }

  .Cell0 {
    opacity: 0;
  }

  .Cell1 {
    background: #0e4429;
  }

  .Cell2 {
    background: #006d32;
  }

  .Cell3 {
    background: #26a641;
  }

  .Cell4 {
    background: #39d353;
  }
</style>
