<section class="Card Card-Info" aria-label="Info">
  <figure class="Diamond">
    <picture class="Diamond-Mask">
      <source
        srcset="/archive/2022/assets/images/Photo.avif 1x, /archive/2022/assets/images/Photo@2x.avif 2x, /archive/2022/assets/images/Photo@3x.avif 3x"
        type="image/avif"
      />
      <source
        srcset="/archive/2022/assets/images/Photo.webp 1x, /archive/2022/assets/images/Photo@2x.webp 2x, /archive/2022/assets/images/Photo@3x.webp 3x"
        type="image/webp"
      />
      <img
        class="Diamond-Photo"
        srcset="/archive/2022/assets/images/Photo.jpg 1x, /archive/2022/assets/images/Photo@2x.jpg 2x, /archive/2022/assets/images/Photo@3x.jpg 3x"
        alt="Photo of Wes Souza and his dog Darla"
      />
    </picture>
    <svg class="Diamond-Border" aria-hidden="true"
      ><use href="#Diamond"></use>
    </svg>
  </figure>
  <h1 class="Title">Wes Souza</h1>
  <p class="Subtitle">
    <a
      href="https://www.linkedin.com/in/wessouza/"
      rel="nofollow noopener"
      target="_blank">Staff Software Engineer</a
    > @ <a
      href="https://www.unqork.com/"
      rel="nofollow noopener"
      target="_blank">Unqork</a
    >
  </p>
  <p class="Tagline">Building user experiences for the web since 2006</p>
</section>

<style>
  .Card-Info {
    grid-area: Info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4.5em 1em 1fr;
    text-align: center;
    place-items: center;
    padding: 28px 20px;
  }

  @media (prefers-reduced-motion: no-preference) {
    @media (min-width: 935px) and (max-width: 1300px) {
      .Card-Info {
        --animation-translate-x: var(--animation-from-right);
        animation-delay: 0s;
      }
    }

    @media (min-width: 1301px) {
      .Card-Info {
        animation-delay: 0.4s;
      }
    }
  }

  @media (max-width: 934px) {
    .Card-Info {
      padding-inline: 12px;
    }
  }

  .Diamond {
    position: relative;
    padding: 22px;
  }

  .Diamond-Mask {
    display: block;
    clip-path: url(#DiamondMask);
    width: 262px;
    height: 262px;
    overflow: hidden;
  }

  .Diamond-Photo {
    position: relative;
    display: block;
    width: 426px;
    height: 320px;
    left: -45px;
    top: -6;
  }

  .Diamond-Border {
    display: block;
    pointer-events: none;
    width: 305px;
    height: 306px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .Title,
  .Subtitle {
    white-space: nowrap;
  }

  .Title {
    font-weight: 400;
    font-size: 50rem;
    text-shadow: var(--text-shadow);
  }

  .Subtitle {
    font-size: 15rem;
  }

  .Tagline {
    font-size: 23rem;
    max-width: 280px;
  }
</style>

<div class="-Sprite">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="Diamond" viewBox="0 0 305 306">
      <path
        d="M19.2964 155C19.2964 169.843 29.6858 184.686 50.4646 205.465L101.537 256.537C143.095 298.095 160.909 298.095 202.466 256.537L253.539 205.465C274.318 184.686 284.707 169.843 284.707 155H280.707C280.707 161.427 278.474 168.106 273.54 175.859C268.582 183.651 261.035 192.311 250.71 202.636L199.638 253.709C189.313 264.034 180.652 271.58 172.861 276.539C165.108 281.472 158.429 283.705 152.002 283.705C145.575 283.705 138.895 281.472 131.143 276.539C123.351 271.58 114.69 264.034 104.366 253.709L53.293 202.636C42.9682 192.311 35.4213 183.651 30.4631 175.859C25.53 168.106 23.2964 161.427 23.2964 155H19.2964Z"
        fill="black"
        fill-opacity="0.15"></path>
      <path
        d="M51.8788 202.05C41.5217 191.693 33.8522 182.91 28.7758 174.933C23.7119 166.975 21.2964 159.924 21.2964 153C21.2964 146.076 23.7119 139.025 28.7758 131.067C33.8522 123.09 41.5217 114.307 51.8788 103.95L102.951 52.877C113.308 42.5199 122.092 34.8505 130.069 29.774C138.027 24.7101 145.078 22.2946 152.002 22.2946C158.926 22.2946 165.976 24.7101 173.934 29.774C181.912 34.8504 190.695 42.5199 201.052 52.877L252.125 103.95C262.482 114.307 270.151 123.09 275.228 131.067C280.292 139.025 282.707 146.076 282.707 153C282.707 159.924 280.292 166.975 275.228 174.933C270.151 182.91 262.482 191.693 252.125 202.05L201.052 253.123C190.695 263.48 181.912 271.15 173.934 276.226C165.976 281.29 158.926 283.705 152.002 283.705C145.078 283.705 138.027 281.29 130.069 276.226C122.092 271.15 113.308 263.48 102.951 253.123L51.8788 202.05Z"
        stroke="white"
        fill="none"
        stroke-width="4"></path>
    </symbol>

    <clipPath id="DiamondMask">
      <path
        fill="#000"
        d="M30.769 180.797c-40.985-40.985-40.985-58.553 0-99.538L81.138 30.89c40.984-40.984 58.553-40.984 99.538 0l50.368 50.369c40.985 40.985 40.985 58.553 0 99.538l-50.368 50.369c-40.985 40.984-58.554 40.984-99.538 0l-50.369-50.369Z"
      ></path>
    </clipPath>
  </svg>
</div>
