<section class="Card Card-Work" aria-label="Work">
  <ul class="List">
    <li class="Workplace">
      <a
        class="Link Link-Medium"
        href="https://www.aesop.com/us/"
        rel="nofollow noopener"
        target="_blank">Aesop</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Small"
        href="https://www.booking.com/"
        rel="nofollow noopener"
        target="_blank">Booking.com</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Large"
        href="http://www.mtv.com.br/"
        rel="nofollow noopener"
        target="_blank">MTV Brasil</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Medium"
        href="https://www.philzcoffee.com/app"
        rel="nofollow noopener"
        target="_blank">Philz Coffee</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Small"
        href="https://www.sprinklr.com/"
        rel="nofollow noopener"
        target="_blank">Sprinklr</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Small"
        href="https://www.univision.com/"
        rel="nofollow noopener"
        target="_blank">Univision</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Largest"
        href="https://www.unqork.com/"
        rel="nofollow noopener"
        target="_blank">Unqork</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Small"
        href="https://www.t-mobile.com/"
        rel="nofollow noopener"
        target="_blank">T-Mobile</a
      >
    </li>
    <li class="Workplace">
      <a
        class="Link Link-Large"
        href="https://work.co/"
        rel="nofollow noopener"
        target="_blank">Work &amp; Co</a
      >
    </li>
  </ul>
</section>

<style>
  .Card-Work {
    grid-area: Work;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }

  .List {
    padding: 0;
    flex-grow: 1;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 10px;
    align-items: center;
  }

  .Workplace {
    font-weight: 400;
    text-align: center;
  }

  .Link {
    white-space: nowrap;
  }
</style>
