extends template-default

block content
	header.content.page-header
		.wrapper
			h1 Page Not Found :(
			p.tagline This page does not exist, never existed, or will exist in the future.
	section.content
		.wrapper
			p Or this is a dream.
			p: a.btn.btn-primary(href='/') Return to a safe place