extends template-default

block meta
	- bodyClass += ' transparent'

block content
	header.content.page-header.home-hero
		.wrapper
			section#unwex
				h1
					i.window-buttons
					i.fa.fa-folder-o
					| wesley.so &mdash; wesley &mdash; 1337&times;42
				pre
					span.buffer
					span.prompt
					span.command
					i.cursor _
				input.capture(type='text', autocapitalize='off', autocorrect='off')
	section.content-highlight-2.home-contact
		.wrapper
			ul.grid.list-stacked.home-contact-options
				li.width-1-2.width-md-1-3.width-lg-1-6
					i.fa.fa-envelope
					a(href='mailto:me@wesley.so') E-mail
				li.width-1-2.width-md-1-3.width-lg-1-6
					i.fa.fa-linkedin
					a(href='http://www.linkedin.com/in/wesleydesouza') LinkedIn
				li.width-1-2.width-md-1-3.width-lg-1-6
					i.fa.fa-github
					a(href='https://github.com/WesleydeSouza') GitHub
				li.width-1-2.width-md-1-3.width-lg-1-6
					i.fa.fa-facebook
					a(href='https://www.facebook.com/wesley.souza') Facebook
				li.width-1-2.width-md-1-3.width-lg-1-6
					i.fa.fa-twitter
					a(href='https://twitter.com/WesleydeSouza') Twitter
				li.width-1-2.width-md-1-3.width-lg-1-6
					i.fa.fa-instagram
					a(href='http://instagram.com/wesleydesouza') Instagram
	section.content.content-alternate.home-skills
		.wrapper
			ul.list-linear.home-skills-main
				li: a.home-skill-nodejs(href='http://nodejs.org/', target='_blank') Node.js
				li: a.home-skill-html5(href='http://www.w3.org/TR/html5/', target='_blank') HTML5
				li: a.home-skill-php(href='http://www.php.net/', target='_blank') PHP
			ul.list-linear.list-ticked.home-skills-all
				li: a(href='http://jade-lang.com/', target='_blank') Jade
				li: a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript', target='_blank') JavaScript
				li: a(href='http://angularjs.org/', target='_blank') AngularJS
				li: a(href='http://jquery.com/', target='_blank') jQuery
				li: a(href='http://en.wikipedia.org/wiki/Cascading_Style_Sheets', target='_blank') CSS3
				li: a(href='http://sass-lang.com/', target='_blank') Sass
				li: a(href='http://lesscss.org/', target='_blank') LESS
				li: a(href='http://framework.zend.com/', target='_blank') Zend Framework
				li: a(href='http://cakephp.org/', target='_blank') CakePHP
				li: a(href='http://ellislab.com/codeigniter', target='_blank') CodeIgniter
				li: a(href='https://drupal.org/', target='_blank') Drupal
				li: a(href='http://wordpress.org/', target='_blank') WordPress
				li: a(href='http://www.mysql.com/', target='_blank') MySQL
				li: a(href='http://www.mongodb.org/', target='_blank') MongoDB
				li: a(href='http://git-scm.com/', target='_blank') GIT
				li: a(href='http://subversion.apache.org/', target='_blank') SVN
				li: a(href='http://www.debian.org/', target='_blank') Debian
				li: a(href='http://www.ubuntu.com/', target='_blank') Ubuntu
				li: a(href='https://www.scrum.org/', target='_blank') Scrum
				li: a(href='http://agilemanifesto.org/', target='_blank') Agile
				li: a(href='http://en.wikipedia.org/wiki/Search_engine_optimization', target='_blank') SEO
				li: a(href='http://en.wikipedia.org/wiki/Social_media_optimization', target='_blank') SMO
	section.content.home-projects
		.wrapper
			section.home-company.home-company-wesley
				header
					h1: a(href='http://wesley.so/', target='_blank', title='Personal Projects') Personal Projects
					aside
						span.dtstart always
				article.home-project.home-project-whocares
					h1: a(href='http://whocares.wex.vc/', target='_blank') Who Cares?
					p Who Cares crawls your timeline searching for who most liked and commented on your posts, showing an interactive grid ordered by most interaction, allowing you to see even who's not your friend.
					p I've developed the site using Facebook's JavaScript API, a lot of IndexedDB, and a few PHP in the back end to generate images for sharing.
				article.home-project.home-project-prefixo9
					h1: a(href='http://wex.vc/prefixo9/', target='_blank') Prefixo 9
					p Prefixo 9 reads your entire Gmail contact book and suggests changes for the ninth digit for cellphones for your contacts, that came into effect in several parts of Brazil starting 2012.
					p I've developed the site strongly using PHP, since updating Gmail contacts is exclusively done in XML. Afterwards I've updated the site renewing its visual, using Bootstrap.
					p The project was mentioned by #[a(href='http://tecnoblog.net/109351/digito-9-sao-paulo-gmail/', target='_blank', rel='nofollow') Tecnoblog] on August 2012.
				article.home-project.home-project-palavrometro
					h1: a(href='http://palavrometro.com.br/', target='_blank') Palavrômetro
					p Palavrômetro is a site that searches Facebook and shows the results on the screen in a grid format in real time, showing also which hashtags and links were most popular.
					p I've developed the site using only client tools, such as Facebook JavaScript API and IndexedDB.
					p The project was mentioned by #[a(href='http://meiobit.com/129552/site-brasileiro-protestos/', target='_blank', rel='nofollow') Meio Bit] on June 2013.
			section.home-company.home-company-bookingcom
				header
					h1: a(href='http://www.booking.com/', target='_blank', title='Scup') Booking.com
					aside
						time.dtstart(datetime='2014-05') May 2014
						span  until 
						span.dtend today
			section.home-company.home-company-scup
				header
					h1: a(href='http://www.scup.com/', target='_blank', title='Scup') Scup
					aside
						time.dtstart(datetime='2013-05') May 2014
						span  until 
						span.dtend(datetime='2014-04') April 2014
				article.home-project.home-project-scupsite
					h1: a(href='http://www.scup.com/', target='_blank') Scup
					p Thew new Scup website was completely revamped, with a modern look and new technologies, leaving WordPress aside in favor of a customized and agile approach.
					p I've developed the website with Node.js, Jade, Sass and Gulp, technologies that ultimately brought a lot of speed to the development, and provided extreme organization for future functionalities.
				article.home-project.home-project-scup50
					h1: a(href='http://ideas.scup.com/especial/scup-50/', target='_blank') Scup 50
					p Scup 50 is a hotsite that collects opinions from fifty professionals and scholars about what the future reserves for social media on 2014.
					p I've developed the entire interface, using technologies as history.pushState and CSS3 animations, providing a fluid navigation.
			section.home-company.home-company-univision
				header
					h1: a(href='http://www.univision.com/', target='_blank', title='Univision') Univision
					aside
						time.dtstart(datetime='2012-07') July 2012
						span  until 
						time.dtend(datetime='2013-05') May 2013
				article.home-project.home-project-uvideos
					h1: a(href='http://videos.univision.com/', target='_blank') UVideos
					p UVideos was a huge refactoring of Univision's video portal, including complete TV shows, as well as clips, news, soap operas, music videos, etc.
					p I've developed a series of interactive components, such as the watchlist and recently watched videos, and related and recommended videos. As part of the project, I've proposed a clean and modularized JavaScript code, with full refactoring, that ultimately got into the entire portal, becoming the company's standard. Besides that, I've integrated internal applications, as well as third party APIs.
			section.home-company.home-company-mtv
				header
					h1: a(href='http://www.mtv.com.br/', rel='nofollow', target='_blank', title='MTV Brasil') MTV Brasil
					aside
						time.dtstart(datetime='2010-04') April 2010
						span  until 
						time.dtend(datetime='2012-07') July 2012
				article.home-project.home-project-mtvencoder
					h1 MTV Encoder
					p Complete, flexible and robust video encoding platform, responsible for receiving high definition videos and converting them to various different formats. It worked with a distributed queue concept, with priorities for immediate formats.
					p I've developed the entire conversion, queue and distribution system using PHP, FFmpeg and Unix commands. The system was strongly integrated with the Drupal instance used by MTV Brasil's editorial team, where all the videos metadata was stored.
				article.home-project.home-project-vmb2011
					h1 2011 Video Music Brasil Awards
					p Biggest brazilian music awards ceremony, VMB received in 2011 millions of popular votes and, for the first time, votes from an academy composed by music specialists, that defined the winners for most of the categories that year.
					p I've developed two voting storing mechanisms, the popular one featured a proprietary CAPTCHA system and a fraud detector; the academy one guaranteed the vote's security and secrecy, with a pleasant experience.
					p I've also participated in the development of the awards website, and the "console", a live experience during the award ceremony with live blogging, video streaming and real time chatting.
				article.home-project.home-project-vmb2010
					h1 2010 Video Music Brasil Awards
					p VMB 2010 received much more votes than in 2011, since there were more popular voting categories.
					p The developed voting system had the same features, but the CAPTCHA was much more restricted, asking a question to the visitor, such as "type the letters in green", or "type the numbers".
			