extends wrapper

block append head
    meta(name='viewport', content='initial-scale=1.0, width=device-width, user-scalable=no')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300italic,700italic,300,700|Droid+Sans+Mono')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Condensed:700&text=adeIilnoqrRsStuvWyz ')
    link(rel='stylesheet', href='/'+ fingerprint['styles/main.css'])
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')

block append feet
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/'+ fingerprint['scripts/main.js'])

block body
    nav.main-nav(role='navigation')
        .wrapper
            h1.pull-left
                a(href=collection == 'products' ? '/selling-everything/' : '/') Wesley de Souza 
            .hidden-sm
                ul.list-linear.pull-left
                    li: a(href='/blog/', class= false ? 'active' : '') Blog
                    li: a(href='/selling-everything/', class= false ? 'active' : '') Everything Must Go Sale
            .visible-sm
                a.nav-btn-dropdown.nav-btn-dropdown-open.btn.pull-right(href='#') Menu
                    |  
                    i.fa.fa-chevron-down
                a.nav-btn-dropdown.nav-btn-dropdown-close.btn.pull-right(href='#') Close
                    |  &times;
                ul.nav-ul-menu.list-stacked
                    li: a(href='/') Home
                    li: a(href='/blog/') Blog
                    li: a(href='/selling-everything/') Everything Must Go Sale
    
    .main-content(role='main')
        block content
    
    footer.content.main-footer(role='contentinfo')
        .wrapper.text-center
            | Powered by 
            a(href='http://nodejs.org/', target='_blank') Node.js
            if view == 'index'
                |  &ndash; Photo By #[a(href='http://alejandroescamilla.com/', target='_blank', rel='nofollow') Alejandro Escamilla]
            |  &ndash; &copy; Wesley de Souza &ndash; Amsterdam &ndash; Netherlands